[2020-03-06 13:21] sshnaidm opened #2 "Migrate podman modules from Ansible into collection"
using current migration scenario:
```collection_migration/scenarios/containers/containers.yml```
[code]

[2020-03-06 14:39] #2 closed

[2020-03-09 15:43] gundalow opened #6 "Check for missing commits vs devel"
##### SUMMARY
The "Big Migration" has now taken place.

As this collection already exists, we need to carefully check to see if any further commits went into devel since this repo was created.

Please check the contents of https://github.com/ansible-collection-migration/containers.podman against this repo

##### ISSUE TYPE
- Bug Report

[2020-03-09 15:53] gundalow commented on #6
Clarification:
* Please do a per-file level diff against every file in the ansible-collection-migration repo and this one
* Pay care to files added and removed.
* During the last two weeks there have been lots of fixes, especially around and tests, dependencies, and new collection features e.g. meta/action_groups.yml

[2020-03-09 19:46] sshnaidm commented on #6
@gundalow migrated it 20 minutes before overall migration, so we're good :) Confirmed it with diff.

[2020-03-09 19:46] #6 closed

[2020-03-10 09:42] gundalow commented on #6
@sshnaidm Thanks for confirming :)

[2020-03-14 16:55] tgerczei opened #7 "module 'podman_container'"
Shall the above module (previously seen in [TripleO-Ansible](https://github.com/openstack/tripleo-ansible/blob/master/tripleo_ansible/ansible_plugins/modules/podman_container.py)) be published here?

[2020-03-15 18:56] sshnaidm commented on #7
@tgerczei sure, I'm going to add all modules from there, hopefully this weekend :)

[2020-03-15 18:57] tgerczei commented on #7
@sshnaidm thanks, really looking forward to that!

[2020-03-15 19:09] #7 closed

[2020-03-15 19:11] sshnaidm opened #9 "Add podman_network_info module"
Add podman_network_info module for retrieving network information

[2020-03-15 19:13] #9 closed

[2020-03-15 19:14] sshnaidm opened #11 "Add test files for new imported Podman modules"
Podman modules podman_container and podman_network_info have tests, import them to the repo.

[2020-03-15 19:22] #11 closed

[2020-03-15 19:40] tgerczei commented on #7
Thanks! Can't wait to see this hit Galaxy.

[2020-03-15 19:49] sshnaidm commented on #7
@tgerczei and all interested, modules were published (as is). Please feel free to report issues if you have such.
`ansible-galaxy collection install containers.podman`

[code]

[2020-04-08 08:40] Klaas- opened #18 "create systemd unit files"
Hi,
I am interested in implementing systemd units for containers and especially pods, would you see that as part of podman_container or should that go into a new module?

I already looked into the podman command, I think `podman generate systemd` needs another output format for it to be easily parseable in python, but I would welcome any suggestions.

Greetings
Klaas

[2020-04-08 16:59] sshnaidm commented on #18
@Klaas- , I think we'd better to make it as a separate module. Even if we integrate it into podman_container, it's always good to have it separately in case you need just generate files for existing containers.
You can just parse output of command, it's actually the text of systemd file, like we do here with version for example: https://github.com/containers/ansible-podman-collections/blob/master/

[2020-04-08 17:21] Klaas- commented on #18
@sshnaidm using the stdout output works for a single container, my main focus for now is getting awx to work (and that is a pod with multiple containers). I looked at the output, that's a concatination of the multiple service files without a real seperator if I did not misread the output :) I was going to suggest to add a json output or something like that but go is not really my language :D

[2020-04-08 19:20] sshnaidm commented on #18
@Klaas- you're right, there is no visible delimiter. We can try to rely on comments, which are first lines in the file like:
[code]
But it'll be a guess.
Can you point me please to pod configuration with AWX?
I'm not sure Podman team will adopt JSON for a file output, might be challenging with multiline and indentation. But for a visible and well defined delimiter I think would be reasonable to as

[2020-04-08 19:50] Klaas- commented on #18
@sshnaidm I'm currently working on getting the current version to work https://github.com/ikke-t/awx_pod/pull/7 is what I'm using for now, but I want to replace the podman role with something working smoother :)

[2020-04-10 17:10] dchats1 opened #20 "plugins/modules/podman_container.py include output from is_different function in return values"
Hi,

When testing the podman_container.py module, I noticed it kept recreating my containers somewhat unexpectedly. It turns out, for the container I was testing with (quay.io/prometheus/prometheus) I needed to set the `workdir` argument since the default in the module was different from what the container used. To find this I had to print out dff_func from the is_different function to see which a

[2020-04-10 20:31] sshnaidm commented on #20
@dchats1 can you please write playbooks that you run to test and how to reproduce the issue? You can run ansible-playbook --diff to see the difference in containers, no need to print from function. So `workdir` is not "/" by default for your case? Please submit output of "--diff" and inspect for container.
If I understand the issue correct, we'll need to remove `workdir` from defaults.

[2020-04-10 21:15] dchats1 commented on #20
@sshnaidm I wasn't aware of the --diff flag, that accomplishes exactly what I was looking for, thank you!

In the case of the quay.io/prometheus/prometheus container the `workdir` set by the container is /prometheus. Here is the task and the output from --diff:
[code]
[code]

Adding `workdir: /prometheus` to the task fixes that.

I don't think the workdir needs to be removed from the defaults, but

[2020-04-14 04:29] ToBeReplaced opened #21 "Trip report for idempotence"
Thank you for working on this project. I gave this repo a shot, and had to make some changes to get close to idempotence for my usage. This isn't meant to turn into a PR or anything, just a trip report of what I saw, in case it helps with development. Cheers!

[code]

[2020-04-14 18:51] sshnaidm commented on #21
@ToBeReplaced thanks, the idempotency definitely requires more work. Can you please paste also inspect results of container before and after restart? You can use for that `podman_container_info` module.

[2020-04-16 05:00] sshnaidm commented on #21
@ToBeReplaced either way you can paste your task config so I can look at results. The solution itself doesn't help much without knowing what is the problem.

[2020-04-17 16:29] atomlab opened #23 "Why podman_image ignore "registries.insecure""
I have an error

[code]

fatal: [ada-03]: FAILED! => {"changed": false, "msg": "Failed to pull image hub:9080/cardano:3.2.0-13. Error: Error: error pulling image \"hub:9080/cardano:3.2.0-13\": unable to pull hub:9080/cardano:3.2.0-13: unable to pull image: Error initializing source docker://hub:9080/cardano:3.2.0-13: error pinging docker registry hub:9080: Get https://hub:9080/v2/: http: server ga

[2020-04-18 11:31] sshnaidm commented on #23
@atomlab please provide `podman version` and `podman info --debug`. Ansible playbook and its output would be useful too. `export ANSIBLE_DEBUG=1; ansible -vvvv playbook.yaml`

[2020-04-18 14:58] Raoul555 opened #25 "ansible_user is not taken into account with buildah connection"
##### SUMMARY
My application need to be run from a user account, not  from root.
Despite instruction given to ansible tu use a user account with buildah connection, it still run commands as root.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
```connection```

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
```CentOS Linux release 8.1.1911 (Core) ```

```bui

[2020-04-18 22:39] sshnaidm commented on #25
I think this may help https://github.com/containers/ansible-podman-collections/pull/19

[2020-04-20 13:26] atomlab commented on #23
@sshnaidm Thank you for response.

[code]

[code]

[code]
[Output log](https://pastebin.com/raw/MnAQkqnL)

Podman pull manually it works fine.

[code]

[2020-04-20 14:40] sshnaidm commented on #23
@atomlab could it be because of `auth_file: /root/.podman-auth.json`? Maybe you can try without it.
Try to use podman command with this arg: `podman pull --authfile /root/.podman-auth.json hub:9080/cardano:3.2.0-13`.
Usually the default for auth file is `${XDG_RUNTIME_DIR}/containers/auth.json`
If you can try to use this file http://paste.openstack.org/show/792416/ as `podman_image.py`, just copy

[2020-04-20 15:09] sshnaidm commented on #23
@atomlab just to be sure, the registries config is configured on host where module runs, right? Not on host that ansible runs on.

[2020-04-20 15:28] atomlab commented on #23
Of course. This is host system where podman module runs. Not ansible host.

[code]

1. I have updated [podman_image.py](http://paste.openstack.org/show/792416/).
2. I Have run `podman login`  and `auth.json` have been saved into `/run/containers/0/auth.json`

[code]

Output playbook

[code]

Error

Get `podman info --debug` with ansible

[code]
Output

[code]

Run `podman info --debug` on the podm

[2020-04-21 14:30] sshnaidm commented on #25
@Raoul555 btw, I wonder why not to use podman connection instead? What is use case for buildah connection plugin?
Thanks

[2020-04-21 18:34] Raoul555 commented on #25
Im' using builds connection as I'm using ansible to build containers images.
Is it possible with pommant?

[2020-04-21 20:02] sshnaidm commented on #25
I see, looks like we need to port #19 to buildah connection, and also solve some bugs there like https://github.com/ansible/ansible/issues/65105 https://github.com/ansible/ansible/issues/63316 etc

[2020-04-23 16:40] Raoul555 commented on #25
Did you start working on it? I can propose a patch otherwise.

[2020-04-23 16:57] sshnaidm commented on #25
@Raoul555 I don't have a working solution atm, feel free to submit a PR

[2020-04-23 18:58] Raoul555 commented on #25
Well, not that easy. Porting #19 is not enough. Because ansible seems to copy its module as the local user.

So when running ansible as root, ansible module looks like:
```-rw-r--r-- 1 root     root     114024 Apr 23 18:53 AnsiballZ_file.py```

Then as we try to connect with '--user a_user', ansible can't change it to be exectubale:
[code]

[2020-05-03 18:11] tyll opened #29 "connection plugin does not work with rootless containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman run --rm -it centos:8
2. ansible -vvi a935777de543, -c podman -m setup all

3.

**Describe the results you received:**
Failed to mount container a935777de543: b'Error: cannot mount using driver overlay in rootless mode'
[WARNING]: Unhandled error i

[2020-05-04 10:04] sshnaidm commented on #29
@tyll it should work. The problem is here:
[code]
For some reason you can't pause container. It reminds me problem https://github.com/containers/libpod/issues/4813 which was solved in https://github.com/ansible/ansible/pull/66583. But seems like didn't work in your case, error message is different. Can you try please such a file? http://paste.openstack.org/show/793035/ Copy it to `~/.ansible/colle

[2020-05-04 10:26] tyll commented on #29
Great, thank you. This fixes it for me. There are now only warnings related to the python interpreter:

[code]

Let me know if you need more info.

[2020-05-04 10:39] sshnaidm commented on #29
@tyll warning is fine. Glad it helped, will prepare a patch then.

[2020-05-04 18:33] #29 closed

[2020-05-05 10:23] jaudriga opened #31 "podman_container always recreates the container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`containers.podman.podman_container` always recreates the container, because`stop_signal` and `volume` properties differ.

**Steps to reproduce the issue:**

1. Use the following snippet:
[code]

2. Run it

3. Run it again

**Describe the results you received:**
Using `-D` one can see that it

[2020-05-09 23:45] falstaff1288 commented on #31
Got the same issue when trying to recreate a container in a pod

[code]

[2020-05-10 16:00] sshnaidm commented on #23
@atomlab any progress on that or new info?
Is it still an issue?

[2020-05-10 16:10] atomlab commented on #23
@sshnaidm unfortunately I don't found solution of this problem at the moment. I will try debug podman python library later.

[2020-05-10 17:59] falstaff1288 commented on #31
@sshnaidm Saw your fix for cgroup_parent. It works!
In my case, I still have idempotance issues with the ipc, uts and network namespaces.

[code]

[2020-05-10 20:35] #20 closed

[2020-05-10 21:00] sshnaidm opened #39 "Inspect image of container for better idempotency"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman container module should inspect image of container to understand better what are options will be set for container. It's required for better idempotency of podman_container module.

**Steps to reproduce the issue:**

1. For example if we have options set in Dockerfile/image like `workd

[2020-05-11 09:37] sshnaidm commented on #31
@falstaff1288 this happens because container was in a pod, #40 should help

[2020-05-11 11:23] sshnaidm commented on #21
@ToBeReplaced I think I solved almost all issues you hit, but I don't really understand what is the issue with `devices` and what's the problem with `volumesfrom`. If you can paste your config or parts of `podman inspect` would be very helpful.

[2020-05-11 11:27] #31 closed

[2020-05-12 08:35] choeffer opened #44 "BlockingIOError: [Errno 11] write could not complete without blocking - module podman_image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Building an OCI container image using a Dockerfile fails sometimes.

**Steps to reproduce the issue:**

Define a Dockerfile and build an OCI container image via

[code]

**Describe the results you received:**

Task fails even if the image seems to be builded. The image ist listed via

[code]

[2020-05-12 10:17] sshnaidm commented on #44
@choeffer thanks for reporting.
I think the main problem is here:
[code]
Like we can see the problem is happening in `basic.py` of ansible, not in the module itself. So you were right opening it in Ansible issues https://github.com/ansible/ansible/issues/69444 :)
Secondly, you use 2.9 version which is maintained in [ansible repo](https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modul

[2020-05-12 10:18] #44 closed

[2020-05-15 20:36] #25 closed

[2020-05-15 21:26] sshnaidm opened #45 "[DISCUSSION] How to replace easily Docker by Podman for Ansible Docker users?"
**Issue**:
Right now a lot of Ansible users deploy Docker containers using `docker_*` modules of Ansible. Because Docker is not supported on RHEL-8/CnetOS-8 officially and user might want still to use their playbooks and roles, instead of rewriting them. Podman is supposed to replace Docker in RH-8 distros. Current there are a few `podman_*` modules.
How can we make migration of `docker_*` users a

[2020-05-15 22:07] sshnaidm commented on #45
Amazingly, option 2 works as is:
[code]
[code]
[code]
So a little action plugin which will replace `executable` and maybe some options is very doable.

[2020-05-17 18:19] choeffer commented on #44
Thanks for having a look. I have quoted you in the other issue, that the problem is in `basic.py`.

The OpenStack instance has:
- RAM: 4GB
- VCPUs: 2 VCPU
- Festplatte: 40GB

Should it not be enough resources? Running `htop` in parallel shows CPU usage peaks, but not running out of memory.

[2020-05-17 22:15] sshnaidm commented on #44
Well, I don't know your environment, although `BlockingIOError` usually refers to fighting for I/O resources. I may be wrong, but there are might be conflicts with parallel usage of resources.

[2020-05-17 22:41] manics commented on #45
Would any of these options include unifying the output of the modules- or is the assumption that podman would change to match the docker output? For example to lookup an exposed port at the moment:
- docker_container: `registered_fact.ansible_facts.docker_container.NetworkSettings.Ports['8888/tcp'].0.HostPort`
- containers.podman.podman_container: `registered_fact.container.NetworkSettings.Ports.0

[2020-05-17 23:22] sshnaidm commented on #45
@manics thanks, that's a really important question. A lot of tasks rely on `docker` module outputs and of course it shouldn't break.
I think there could be a few approaches:

1. Podman project tries to be compliant with docker outputs and if we see inconsistency or difference, we can always report it. Of course not everything could and should be fixed.
2. We can catch podman output and if there ar

[2020-05-20 11:39] jaudriga commented on #39
Is there a recommeded workaround for this issue?

[2020-05-20 16:48] sshnaidm commented on #39
@jaudriga actually it's an enhancement, that "nice to have". But idempotency with image should be fine now. Which issue do you hit with latest version?

[2020-05-25 13:00] jaudriga commented on #39
@sshnaidm while idempotency with `image` may be fine, podman still recreates the container for the newest version of Graphite (where I set `volume` as well). I actually do not see a difference:
[code]
I actually see that behavior for most of my containers (`docker.elastic.co/elasticsearch/elasticsearch-oss:6.8.9`, `graylog/graylog:3.3.0-1`, `mongo:4.0.18`). Only `grafana/grafana:7.0.0`,  seems to

[2020-05-25 20:10] sshnaidm commented on #39
@jaudriga can you please paste your playbook for reproducing? Or at least the part with `podman_container`

[2020-05-26 07:39] jaudriga commented on #39
The following recreates the container on every run with the above diff:
[code]

[2020-05-26 11:53] fukuchidaisuke opened #50 ""validate_certs: no" has no effect"
/kind bug
**Description**

**Steps to reproduce the issue:**

1. Run task like the following.

[code]

**Describe the results you received:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

I think it is necessary to add else block including `--tls-verify=false` after the following places.

https://github.com/containers/ansible-podman-collections/blo

[2020-05-28 12:28] Luap99 opened #51 "Add a module for managing pods"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

It would be great to add a module for managing pods like the container module.

[2020-05-30 19:48] sshnaidm commented on #51
@Luap99 yes, of course. It's the next module I'm gonna make.

[2020-05-31 21:31] #50 closed

[2020-05-31 21:32] sshnaidm commented on #21
I think we got it finally

[2020-05-31 21:32] #21 closed

[2020-06-02 12:40] jaudriga commented on #39
@sshnaidm thanks for working on this so fast. Now.. it seems to handle locally mounted folders well. However, it does not seem to have resolved the issue with the image name:
[code]
(In the meantime I switched from mounting the storage folder on the local filesystem to  using a volume I created via `podman volume create --opt device={{ data_device }} graphite-data`. It does not seem to like this e

[2020-06-03 17:46] sshnaidm commented on #39
@jaudriga thanks, you provide very good cases :) Will look asap.

[2020-06-05 12:06] sshnaidm commented on #39
@jaudriga let me understand please the image issue better, because it's not reproducible for me:
[code]
What is image tag in first run and what is it in second one?

[2020-06-05 14:29] #39 closed

[2020-06-08 07:06] jaudriga commented on #39
@sshnaidm The issue seems to be resolved for me as well. Yeah :) . However, I am going to answer your questions in case anyone else will have a similar issue.

The image tag was the same in the first and the second run: `1.1.7-2`. I remember that, before the issue was fixed, when I ran `podman inspect` `Image` or `ImageName` did not mention the tag `1.1.7-2` as it does now:
[code]
Sadly I did not

[2020-06-08 08:47] sshnaidm commented on #39
@jaudriga cool, I hope last patch solved it for you. Let me know please if there are any other issues.
Thanks!

[2020-06-09 07:11] jaudriga commented on #39
@sshnaidm I just tried out version 1.0.3 of this collection. It is working fine! Thank you :) .

I noticed something of a follow-up issue for which I currently do not want to create a separate issue.. just wanted to let you know:

When using
[code]
The diff showed the following reproducibly:
[code]
However, removing the trailing `/` fixed this.

[2020-06-09 14:30] Yajo opened #59 "Browsable docs?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

1. Want to know how to use `podman_container`

2. Search for docs.

**Describe the results you received:**
Not found!

**Describe the results you expected:**
Found.

**Additional information you deem important (e.g. issue happens only occasionally):**
So

[2020-06-09 15:29] sshnaidm commented on #59
`podman_container` will be available as part of Ansible 2.10 only.
The documentation of it inside 2.10 is in progress, let's track it in this issue.

[2020-06-11 17:04] sshnaidm commented on #39
@jaudriga  yes, podman remove all slashes in inspect. So we need to strip all ending slashes in input too. Will send a fix.

[2020-06-16 15:56] JulienSchneider opened #61 "podman_container always recreates my elasticsearch container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`containers.podman.podman_container` always recreates the elasticsearch container but the ansible diff (-D) is empty.
It works fine for my other containers (mongoDB, grafana, ...).
I'm using the version 1.0.3 of ansible-podman-collections.

**Steps to reproduce the issue:**

1. Run the follow

[2020-06-16 17:18] sshnaidm commented on #61
It's because we don't support yet idempotency for `ulimit`:
https://github.com/containers/ansible-podman-collections/blob/b7d3d95a795659d6c62c900ec6df83b90d589be1/plugins/modules/podman_container.py#L1306-L1310
and then:
https://github.com/containers/ansible-podman-collections/blob/b7d3d95a795659d6c62c900ec6df83b90d589be1/plugins/modules/podman_container.py#L1761-L1763

It's difficult to inspect `

[2020-06-18 08:45] JulienSchneider commented on #61
Thanks for your quick answer.

Should works :)

[2020-06-21 18:45] #61 closed

[2020-06-26 09:54] denysvitali commented on #59
FYI, for now it is possible to read the docs as follows:

[code]

[2020-06-29 08:30] jaudriga opened #65 "Podman Container fails with TypeError when rerunning the Playbook on Podman 2.0.1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The Podman Container Module fails with `TypeError: string indices must be integers` when rerunning my playbooks on a host with podman 2.0.1 installed.

**Steps to reproduce the issue:**

1. Make sure you are using one of the latest podman 2.0.x release.

2. Start graphite container with below

[2020-06-29 16:50] sshnaidm commented on #65
Great, new podman, new issues :smile:
Inspect format was changed :jack_o_lantern: Gonna fix.
From good news, now it's closer to `docker` one.

[2020-06-29 17:33] #65 closed

[2020-06-30 16:05] jaudriga opened #68 "New idempotency issue when using Podman 2 on Ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Idempotency is broken once again similar to https://github.com/containers/ansible-podman-collections/issues/31 , but this time for `network` and `security_opt` (apparmor).

**Steps to reproduce the issue:**

1. Use the following snippet
[code]

2. Run it

3. Run it again

**Describe the resul

[2020-06-30 16:06] jaudriga commented on #65
@sshnaidm Thanks for fixing this so fast :) .

[2020-07-01 16:27] jharmison-redhat opened #69 "Would like ability to add additional args to `podman build`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Would like the ability to provide arbitrary args to `podman build` invocation through the command constructor, or support for more args supported by podman. In my particular use case, I need to provide `ulimit` args for `RUN` statements in a Dockerfile, which is supported by `podman build

[2020-07-01 17:41] jharmison-redhat commented on #69
I would like to note that while implementing this, I did notice that there wasn't a mechanism to test several of the other suboptions provided to build in the `podman_image` test suite. I am unsure if you would like a test built for my implementation example, visible at https://github.com/jharmison-redhat/ansible-podman-collections/commit/7d73fe086219701875898c7681aa1b3ac7828bad

The following pla

[2020-07-02 07:07] sshnaidm commented on #69
@jharmison-redhat thanks, `podman_image` has currently very basic tests. But I think it's worth to start at least from testing your change. So feel free to add test for your option `extra_args`, later we can add other tests.

[2020-07-03 20:10] tyll opened #70 "containers.podman.podman connection plugin does not work with podman 2 anymore"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The podman connection plugin does not work anymore in non-root mode with Podam 2

**Steps to reproduce the issue:**

1. podman run --name c8 --rm --privileged  -v /sys/fs/cgroup:/sys/fs/cgroup:ro  docker.io/nmstate/centos8-nmstate-dev

2. ansible -i c8, -c containers.podman.podman -m setup al

[2020-07-04 18:59] manics commented on #70
I think this is related to a change in the behaviour of `podman mount` on rootless podman.

Podman 2.0.1: `podman mount` succeeds but the `merged` directory is empty
[code]

Podman 1.9.3:
[code]

This means this should fail on 1.9.3:
https://github.com/containers/ansible-podman-collections/blob/d53539c2f4fbc0892f92c4e8344625d6c217e42c/plugins/connection/podman.py#L141-L146
so the plugin falls back

[2020-07-05 21:40] sshnaidm commented on #70
@tyll please paste `podman info --debug` output.
@manics on which system do you run test? Please paste `podman info --debug` output.

[2020-07-05 22:49] #70 closed

[2020-07-06 07:19] sshnaidm commented on #68
@jaudriga I'm trying to reproduce it with ubuntu 20, but can't now. Do you have specific Apparmor settings? What is your network setup for containers?

[2020-07-06 09:53] tyll commented on #70
For future reference, here is the debug output:

[code]

[2020-07-06 18:36] tyll opened #73 "Increase verbosity level for "failed to mount" messages"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The podman connection plugin is showing a lot of messages like

[code]

when using verbosity level 1. This seems to be a debug message since there is no actionable task for the user and everything works as expected. Since verbosity level 1 is useful for other info, it would be nice to inc

[2020-07-06 21:02] sshnaidm commented on #73
Yeah, sorry for that, I hope to remove this workaround at all when 2.0.2 will be out, since fix in podman has been merged today: https://github.com/containers/libpod/pull/6868

[2020-07-07 02:36] #73 closed

[2020-07-09 08:18] xdbob opened #75 "Handle UDP in diffparam_publish"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When creating a podman container using containers.podman.podman_container with UDP ports
it is always recreated even when it is already on the target on the expected state.

**Steps to reproduce the issue:**

1. Use `podman_container` to deploy a container with udp ports

2. Re-run the playbo

[2020-07-09 14:23] #75 closed

[2020-07-09 15:17] sshnaidm opened #77 "Volumes idempotency breaks because of trailing and double slashes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If you provide volumes with double or trailing slashes, the volumes idempotency doesn't work.

**Steps to reproduce the issue:**

1.

[code]

**Describe the results you received:**
Container is recreated

**Describe the results you expected:**
Container is not recreated.

**Additional informa

[2020-07-09 15:37] #77 closed

[2020-07-10 08:57] sshnaidm commented on #68
@jaudriga any news about it? Is it still an issue?

[2020-07-10 21:49] djlambert opened #80 "Idempotency broken when using non-default network in podman_container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`PodmanContainerDiff.diffparam_network()` is diff'ing `HostConfig.NetworkMode` against the `network` module parameter.

When a network-name is passed in the `network` parameter and the container already exists, `HostConfig.NetworkMode` can/will have a value of `bridge`. This breaks idempotency

[2020-07-13 06:39] Yajo commented on #45
I think the easiest path depends on how the docker modules are implemented.

1. If those modules call docker CLI, then just add support for a variable that indicates the CLI program to use. Then pass that variable to the role before running.
1. If those modules call docker API, then just run podman v2 API server and add the `DOCKER_HOST` environment variable pointing to podman's socket before runn

[2020-07-14 14:54] Yajo commented on #68
I'm having the same issue, yes.

[2020-07-15 16:28] sshnaidm commented on #68
Yeah, I found reproducing of "bridge" issue in #80 . In root containers default network mode is `bridge`, while in rootless it's `slirp4netns`. So that's ok, will be fixed.
Although I still can't reproduce issue with apparmor security options. I think it might be related to apparmor config. If someone has the same, please comment how I can reproduce it.

[2020-07-16 12:24] sshnaidm commented on #68
OK, I got it reproduced finally, happens with root on ubuntu 20 and podman 2.0.2

[2020-07-16 18:17] sshnaidm commented on #69
@jharmison-redhat I included this change, needed it for cgroups args of podman build in #83

[2020-07-16 18:21] #68 closed

[2020-07-16 18:21] #69 closed

[2020-07-19 17:23] #51 closed

[2020-07-19 18:59] Luap99 commented on #51
Thank you @sshnaidm.
I will test this soon.

[2020-07-19 20:50] #80 closed

[2020-07-19 21:18] sshnaidm commented on #18
@Klaas- hi, any work in progress about generation of systemd files?
I think to start systemd files generation for pods and containers, also play_kube functionality. I wonder if you made something or maybe have use cases for this. I think it's worth to add automatic generation of systemd units and their installation.

[2020-07-20 12:09] sshnaidm opened #85 "Create podman network module"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Create a module to manage podman networks.

[2020-07-20 12:10] sshnaidm opened #86 "Create podman volume module"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Create module  to manage podman volumes

[2020-07-20 13:41] jharmison-redhat commented on #69
Was on PTO last week and pretty busy juggling the week prior, glad you were able to get this in. Thanks!

[2020-07-22 06:04] #86 closed

[2020-07-23 10:10] sshnaidm commented on #59
You can see documentation in ansible test docs site for now: http://docs.testing.ansible.com/ansible/2.10/collections/containers/podman/index.html#plugins-in-containers-podman
When 2.10 is out, it will be available in a usual ansible docs site.

[2020-07-27 14:18] jaudriga opened #91 "Environments idempotency breaks probably due to equal sign"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Assigning an a string that includes a `=` in environments seems to break idempotency.

For example:

`GRAYLOG_MONGODB_URI: "mongodb://graylogadmin:supersecurepassword@host1.domain.com:27017,host2.domain.com:27017,host3.domain.com:27017/graylog?replicaset=rs01"`

**Steps to reproduce the issue

[2020-07-27 14:30] sshnaidm commented on #91
@jaudriga please try https://github.com/containers/ansible-podman-collections/pull/92 if it solves your issue

[2020-07-27 15:07] jaudriga commented on #91
@sshnaidm Yes. That fixes it:
[code]

[2020-07-27 16:32] Yajo commented on #59
That doesn't include docs on `podman_pod`... is that a known issue?

[2020-07-27 16:55] sshnaidm commented on #59
@Yajo yeah, it's not up to date.. If you know where I can host docs for now, I'd put them there. It's easy to generate them as @denysvitali wrote above.

[2020-07-27 17:00] #91 closed

[2020-07-27 17:00] sshnaidm opened #93 "Create podman login module"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Create podman module that logs in to container registries.

[2020-07-27 17:01] sshnaidm opened #94 "Create podman logout module"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Create podman logout module. which logs out from container registries.

[2020-07-27 17:03] Yajo commented on #59
One obvious choice is https://readthedocs.org/

[2020-07-27 17:09] sshnaidm commented on #59
@Yajo right, but unfortunately I didn't see there option to upload docs, they require `sphinx` build only. And this is not what we have in ansible docs. Or maybe I miss something and it's possible to use `ansible-doc` there?

[2020-07-27 17:34] Yajo commented on #68
This seems to be still happening. According to my tests, this happens when you add the container to a pod that had open ports.

<details><summary>playbook</summary>

[code]

</details>

<details><summary>Execution results</summary>

[code]

</details>

You can see that ubuntu host had 4 changed tasks instead of 3 as expected, because both calls to create container were reported as changed. The ubu

[2020-07-27 17:42] sshnaidm commented on #68
@Yajo can you please rerun it with `--diff` flag? Like `ansible-playbook -vvvv --diff ... `

[2020-07-27 18:08] sshnaidm commented on #68
@Yajo I think I figured out what is the problem, please try https://github.com/containers/ansible-podman-collections/pull/95 if it helps.

[2020-08-01 14:58] Yajo commented on #59
Oh true. How about GitHub pages then?

[2020-08-01 17:02] Yajo commented on #68
Yes, it seems fixed, thanks!

[2020-08-02 11:07] Klaas- commented on #18
@sshnaidm hi, no I haven't worked on it more. For now I my primary usecase is the awx_pod and that is using https://github.com/ikke-t/podman-container-systemd - I would like to see this implemented here but I haven't found the time yet :D

[2020-08-02 16:49] sshnaidm commented on #59
Yep, working on that.

[2020-08-03 08:57] JensHeinrich opened #98 "podman play (kube) module"
/kind feature

**add `podman play kube` support**

[2020-08-05 20:47] felixfontein opened #99 "Inclusion of containers.podman in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-07 06:18] JensHeinrich opened #101 "Enhance mount parameter"
/kind feature

**Description**

Use same structure as [docker_container](https://docs.ansible.com/ansible/latest/modules/docker_container_module.html#docker-container-module) for mounts

**Additional information you deem important (e.g. issue happens only occasionally):**

This should be done now, so users can switch from docker_container to podman_container with ease (#99 )

**Changes**
- Replace

[2020-08-07 06:25] JensHeinrich opened #102 "Enhance volume parameter"
/kind feature

**Description**

Use same structure as [docker_container](https://docs.ansible.com/ansible/latest/modules/docker_container_module.html#docker-container-module) for volumes

**Additional information you deem important (e.g. issue happens only occasionally):**

This should be done now, so users can switch from docker_container to podman_container with ease (#99 )

**Changes**
- Allow

[2020-08-12 11:05] ReinerNippes commented on #45
So if you want to replace docker with podman with your collection in ansible playbooks:

How to port my playbook? https://github.com/ReinerNippes/selfhosted_on_docker

Just pulling and starting a container isn't enough. You have to provide also networking similar to docker.

Do you see any chance for this in the near future?

[2020-08-17 08:31] sshnaidm commented on #102
@JensHeinrich what do you see different between docker_container and podman_container volume configuration?

[2020-08-17 12:57] #99 closed

[2020-08-18 08:48] JensHeinrich commented on #102
At least in the documentation there is no mention of the `:z` etc parameters

[2020-08-18 09:04] JensHeinrich commented on #102
Added a more or less copy pasted list of the flags from the podman doc; this should be supported, at least for creation of containers, if I read the code correctly, but I have no idea about the idempotency and how that snippet will look in the doc (I just typed it in the GitHub editor as a quick example)

[2020-08-18 09:05] JensHeinrich commented on #102
This is how the official [docker_container ](https://docs.ansible.com/ansible/latest/modules/docker_container_module.html#docker-container-module) doc says it

[code]

[2020-09-02 22:38] #85 closed

[2020-09-08 06:21] jaudriga opened #108 "Volume's options option seems to break idempotency"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using the `podman_volume` module with the `options` option, the string seems to break idempotency.
[code]

**Steps to reproduce the issue:**

1. Run the following:
[code]

2. Run it again.

**Describe the results you received:**

Volume gets recreated on every run.

**Describe the result

[2020-09-14 18:36] Luap99 commented on #18
I have added the `--format json` option in https://github.com/containers/podman/pull/7329. This will be included in podman v2.1.
[code]

[2020-09-15 08:24] cfelder commented on #93
containers.podman.podman_image supports username and password.

isn't this sufficient?

[2020-09-16 11:18] sshnaidm commented on #93
Probably for most of cases, but I'd like to have it separate as well for one time login for the whole session.

[2020-09-25 14:19] markonen opened #110 "Idempotency issue with `publish` on Ubuntu 20.04 with podman 2.10"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `publish` option on podman_container breaks idempotency, recreating the container every time.

**Steps to reproduce the issue:**

Run a playbook that specifies a container with a published port twice.

**Describe the results you received:**

The container is not recreated.

**Describe the

[2020-09-25 18:21] swarred commented on #23
@atomlab @sshnaidm / To whom this helps, this is resolved by acknowledging the parameter documented [here](https://docs.ansible.com/ansible/latest/collections/containers/podman/podman_image_module.html#parameter-validate_certs), setting `validate_certs: false`, not sure why the registries.conf is not acknowledged, assuming this might be related to ansible default user that is used?

[2020-09-26 13:07] markonen commented on #110
This was a user error, `publish` doesn't do anything with `network: host`. Perhaps the module could do some handholding here, then again perhaps podman itself should. In any case I'm closing this. Thanks and sorry!

[2020-09-26 13:07] #110 closed

[2020-09-28 11:18] sshnaidm commented on #110
@markonen right, maybe worth to add a warning, or at least not to count ports in idempotency when net=host.

[2020-09-29 13:52] jtryggveson commented on #101
I would also appreciate support for multiple mounts, either plain list or list of dicts.

[2020-10-05 13:54] HolgerHees opened #112 "containers.podman.podman_network is always marked as changed."
/kind bug

**Description**

if I create a simple podman network, it will always marked as changed. Also if I run the ansible script the second time and the network already exists

**Steps to reproduce the issue:**

- name: create mobile_vpn network
  containers.podman.podman_network:
    name: "mobile_vpn"
    subnet: "10.100.0.208/29"
    gateway: "10.100.0.209"

**Describe the results you receiv

[2020-10-05 18:18] sshnaidm commented on #112
@HolgerHees thanks for report. Can you please also paste your `/etc/cni/net.d/mobile_vpn.conflist`?

[2020-10-05 18:27] HolgerHees commented on #112
[code]

[2020-10-05 18:39] sshnaidm commented on #112
@HolgerHees I see, looks like you don't have [podman dnsname plugin](https://github.com/containers/dnsname) installed, and I consider it's installed by default. Need to find a way to detect that it's not enabled in the system.

[2020-10-05 18:43] HolgerHees opened #113 "config diff calculation is not able to handler upper / lower case correctly"
In all *Diff: classes where we test the configuration for changes we dump the current config to json, convert it to lower case and load it again into an dict object.

e.g: podman_container.py => PodmanContainerDiff =>
[code]

my guess is that the reason is to have lower case config keys. But a bad side effect is that we also convert the values itself to lowercase. Now I have 2 scenarios where this

[2020-10-05 18:50] sshnaidm commented on #112
@HolgerHees can you please check if this path exists on your **target** system? `/usr/libexec/cni/dnsname`
(where actual podman runs)

[2020-10-05 18:54] HolgerHees commented on #112
btw. the path is /usr/lib/cni/ on my system and the content is

[code]

[2020-10-05 19:02] sshnaidm commented on #112
@HolgerHees OK, seems like it can be in `/usr/libexec/cni /usr/lib/cni /opt/cni/bin /opt/bridge/bin` so will check all of them

[2020-10-05 19:05] sshnaidm commented on #113
No objections, the reason behind is different key cases in different podman versions, so lowering keys should be enough. Patches are welcome :)

[2020-10-05 19:06] HolgerHees commented on #113
ok. will create a tomorrow :-)

[2020-10-05 20:01] HolgerHees commented on #113
was not able to wait ;-)

[2020-10-05 20:30] roxifas opened #116 "Publish option short-hand always recreates container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `publish` option will always trigger a container recreate if it's defined in the short-hand form, for example:
[code]
But the below works correctly:
[code]

**Steps to reproduce the issue:**

1. This playbook content:
[code]

**Describe the results you received:**

Container is always rec

[2020-10-06 07:56] daniel-wtd opened #117 "Bug: podman_containers not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using podman_containers, I am getting the below situation.

**Steps to reproduce the issue:**

1. Install the collection with `ansible-galaxy collection install containers.podman`
2. Create a playbook like below
3. Run the playbook via ansible-playbook

**Describe the results you receive

[2020-10-06 11:46] HolgerHees commented on #117
you must install the yaml python module on your target machine

'''
ModuleNotFoundError: No module named 'yaml'
'''

[2020-10-06 12:25] sshnaidm commented on #112
@HolgerHees please check if #118 helps.

[2020-10-06 12:43] daniel-wtd commented on #117
Hi @HolgerHees,

thanks a lot for the response. I have installed python3-pyyaml on the target system and tried again.

Unfortunately, this dependency wasn't documented here: https://docs.ansible.com/ansible/latest/collections/containers/podman/podman_container_module.html, so I missed it.

[2020-10-06 16:29] HolgerHees commented on #112
it works! :-)

[2020-10-06 16:36] HolgerHees commented on #117
I added the dependency documentation as part of another bugfix

https://github.com/containers/ansible-podman-collections/pull/115/commits/7c64cd4f33a1a08a9b7e7d66f75632817369e5ec

[2020-10-06 16:46] daniel-wtd commented on #117
@HolgerHees Thanks a ton. :+1:

[2020-10-06 16:46] #117 closed

[2020-10-07 10:05] #112 closed

[2020-10-07 11:33] sshnaidm commented on #116
Seems like in podman 1.x versions the host port is random and in 2.x versions it's equal to container port. So in 1.x versions it will be like `3306:43728`, while in 2.x it's `3306:3306`. Need to workaround both versions.

[2020-10-07 22:35] sshnaidm commented on #116
@roxifas ok, so after some clarifications in https://github.com/containers/podman/issues/7947 we found out that if you set only one port `3360` it can be assigned to any random host port, for example `45362`. The fact it's assigned to the same `3360` is actually a bug and will be fixed by https://github.com/containers/podman/pull/7951 soon.
Given that, I'm not sure what is the point to set only on

[2020-10-07 23:17] sshnaidm commented on #108
@jaudriga I configured options as a list in a new PR because we can set a few options according to the [manual](https://github.com/containers/podman/blob/master/docs/source/markdown/podman-volume-create.1.md). Please check if it solves your issue. But need to set options as a list in tasks like:
[code]

[2020-10-07 23:19] sshnaidm commented on #113
Fixed by #115

[2020-10-07 23:19] #113 closed

[2020-10-08 05:15] roxifas commented on #116
Well that's good to know, I had actually started building my scripts with the thought that the port would be the same 🤔 I guess there are some usecases where people will want to have a random port, and they would have their containers constantly recreated by ansible. So perhaps the fix would be to ignore a non-matching host port if the ansible playbook has only the container port defined, because

[2020-10-08 06:48] sshnaidm commented on #116
@roxifas the problem in this case that we can't detect for sure was it random port assigned by podman or non-random port assigned by user. For example some user can assign `- 3360:43234` and other user can do `- 3360`. In both cases in info it will be
[code]
and no way to know if there is chosen by podman or user port.
The more I think about it the less I understand the logic behind the "randomnes

[2020-10-08 07:54] roxifas commented on #116
If this information, about host port being random or not, is not stored anywhere, then this cannot really be fixed in the ansible module. It would be worth to mention this in the docs however, so that users do not get surprised by containers getting recreated unexpectedly.

[2020-10-08 14:39] sshnaidm commented on #116
Yes, it's worth to mention in docs.

[2020-10-08 14:40] #108 closed

[2020-10-08 18:18] #116 closed

[2020-10-08 22:12] sshnaidm commented on #117
@daniel-wtd in next release it won't be required anymore. I removed last requirements of pyyaml.

[2020-10-16 08:00] jaudriga commented on #108
@sshnaidm it works. Thanks!

[2020-10-19 11:49] FSMaxB-dooshop commented on #23
I am experiencing the same problem.

I think this is because `validate_certs` defaults to `True` here:

https://github.com/containers/ansible-podman-collections/blob/297995540bb705df498728c87999dc0e6140b2b1/plugins/modules/podman_image.py#L705

So later `--tls-verify` is always added, because it is not `None`:
https://github.com/containers/ansible-podman-collections/blob/297995540bb705df498728c879

[2020-10-19 12:11] daniel-wtd opened #125 "podman_containers re-creating the container for each run"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am running the below playbook and everytime it is running, the container will be re-created.
This also applies when recreate is set to false.

**Steps to reproduce the issue:**

1. Run the below playbook
2. Run it again and watch `podman ps -a`

**Describe the results you received:**

The d

[2020-10-20 08:08] sshnaidm commented on #125
@daniel-wtd can you please paste a log run with "-vvvvv" and "--diff"?
So far I detected a different bug with this task that `SIGWINCH` is not in signals table and I'm fixing it now.
Do you use `podman_container` from collections or from Ansible distribution?

[2020-10-20 09:21] daniel-wtd commented on #125
Hi @sshnaidm , thank a lot for having a look. I am also facing the SIGWINCH bug now oO. Maybe there is a difference between localhost execution and remote hosts? I will have a look today.

Run on localhost:

[code]

[2020-10-20 15:06] sshnaidm commented on #125
@daniel-wtd I fixed signals issue and released a new version with hotfix, please try to update the collection from Galaxy and try if it's OK.
Then let's see how to reproduce the issue with recreation, currently I can't reproduce it, logs with a "--diff" run would be useful.

[2020-10-20 17:57] daniel-wtd commented on #125
Hi, the recreation isue seems to be related to the tags:

### version 1 (with tag)

[code]
[code]
### version 2 (without tag)

[code]

[code]

[2020-10-20 18:28] daniel-wtd commented on #125
Ha, the problem seems to be, that httpd:2 and httpd:latest are pointing to the same image.

After removing httpd:latest, the play runs fine.

Nevertheless, I have uploaded a paste of --diff -vvv.

with httpd:latest AND httpd:2 present: https://paste.centos.org/view/06f9c48f
only httpd:2 present: https://paste.centos.org/view/34e55edb

[2020-10-20 19:26] sshnaidm commented on #125
OK, so for reproducing it was required to pull `docker.io/library/httpd:latest` as well, when both images present on the system the problem starts to appear.
This is bug in podman. I'll open the issue there.
For a workaround you can remove image "httpd:latest": `podman rmi httpd:latest`, it will remove the tag only.

[2020-10-21 06:06] daniel-wtd commented on #125
I have already done so. Thank you for investigating :)

[2020-10-21 06:11] sshnaidm commented on #125
I think it may be good idea to check if we have the same image hash anyway, and if it's same - not to recreate. Will work on it.

[2020-10-25 08:29] Yajo opened #132 "Cannot pip-install using poetry"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I see you can install the collection using pip since #100. Great! I use https://python-poetry.org/ to handle my sub-collection, but it doesn't seem to see ansible podman collection if pip-installed in the venv.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[2020-10-26 11:02] g574 opened #135 "Podman_image - unclear wording in the documentation or bug"
#### SUMMARY

As I can see in `podman_image.py`, the podman_image module does not really do the authentication if I pull the image:
[code]

If I add `username` it is ignored and Ansible tries to authenticate with an empty string as the username.
This behaviour is not clearly described in the documentation: https://docs.ansible.com/ansible/2.9/modules/podman_image_module.html#parameter-username
`Us

[2020-10-26 11:03] #135 closed

[2020-10-26 13:22] #94 closed

[2020-10-26 15:29] sshnaidm commented on #132
The collection is installed in `/usr/share/ansible/collections`:
https://github.com/containers/ansible-podman-collections/blob/master/setup.cfg#L25-L31
[code]
So you need to specify a `module-path` for `ansible-doc`:
`poetry run ansible-doc --module-path .venv/share/ansible/collections containers.podman.podman_container`
should work.

[2020-10-26 17:23] #125 closed

[2020-10-26 17:34] daniel-wtd commented on #125
Thanks a lot for the investigation and effort. Really appreciate it.

[2020-10-28 20:48] Yajo commented on #132
I guess that'd work, but TBH I'd expect that a pip-installed collection was reachable on standard collection paths... the venv location might be different depending on how it's installed, after all...

[2020-10-28 20:50] sshnaidm commented on #132
@Yajo standard collection path is in your `$HOME/.ansible`, and no package can be installed there.

[2020-10-28 20:53] Yajo commented on #132
I see... I guess this is more a problem of ansible itself then. https://docs.ansible.com/ansible/latest/reference_appendices/config.html#collections-paths explains that `/usr/share/ansible/collections` is a valid default path, so I guess that globally installing this collection with pip should work, but it breaks in the venv use case. Let me open an issue there.

[2020-10-28 20:58] Yajo commented on #132
Here it is: https://github.com/ansible/ansible/issues/72384

Let's see what they say...

[2020-10-28 21:19] nitzmahone commented on #132
We added a feature in ansible-base 2.10 for ACD (`ansible >= 2.10`) and anyone else to do this. You just need to pip install your collection as an implicit namespace package under `ansible_collections/(ns)/(coll)` anywhere on `sys.path`, and we'll pick it up.

Rather than having a special dedicated location, we scan all `sys.path` top-level dirs at startup and append any that contain an `ansible_c

[2020-10-28 22:05] sshnaidm commented on #132
If it was a different collection which is not in ACD, I would install it to `lib/python3.7/site-packages/ansible_collections/` then, right @nitzmahone ?
But if this collection already exists there like `containers.podman`, it would overwrite one from Ansible installation, which is not a good idea.
So collections that are part of ACD I wouldn't install into this path.

[2020-10-28 22:24] nitzmahone commented on #132
Well, you'd probably just `pip` install it to wherever pip wants to install it, but we'll respect the `sys.path` order used by the interpreter for precedence, and IIRC we explicitly ignore package init's above the collection level, so there shouldn't be any worry about packaging failures DoSing other collections.

But yes, if you're installing to the same site-packages (or whatever) as ACD did, an

[2020-10-28 22:33] nitzmahone commented on #132
ACD (as well as other OS distros that roughly track it) have considered moving to metapackages (rather than the current monolithic Python-package-of-collections)- that would arguably make that problem easier to solve, but at the cost of a lot more packaging overhead and potential difficulty with other metadata and deps inherent to a metapackage design. I'm not sure where that discussion landed, bu

[2020-10-29 09:38] Yajo commented on #132
Wouldn't it make sense that ACD reads collections in this order?

1. `site-packages/ansible_collections/`
1. `site-packages/ansible_collections_core/`

This way, collection owners have a clear path where to let users pip-install their content, and ACD packagers just have to install builtin collections in a separate path that would also be available as a fallback.

If a collection was found in the

[2020-10-29 14:43] abadger commented on #132
I don't think so.... That seems like it can be done with either installing to another site-packages directory or installing into another collection path.  It seems like your trying to combine both of those features instead of picking one.

The ansible-base team didn't like the idea of metapackackages of the Ansible package from pip so i said we'd revisit that idea for 2.11.(collection owners like

[2020-11-11 14:37] f-eric opened #143 "Idempotency issue in podman_container log_opt option"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The idempotency does not work when specifying `log_opt`.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

The second task is recreating the container

**Describe the results you expected:**

The second task to do nothing

**Additional information you deem im

[2020-11-11 15:03] f-eric commented on #143
Looking in the [`podman_container_lib.py`](https://github.com/containers/ansible-podman-collections/blob/master/plugins/module_utils/podman/podman_container_lib.py) I can see there is a comment saying ["Parameter has limited idempotency, unable to guess the default log_path"](https://github.com/containers/ansible-podman-collections/blob/95baa8faaed609dd1d9a2f151b4285b31aebd77c/plugins/module_utils

[2020-11-11 21:41] W35170 opened #144 "Allow loading images from tarballs"
/kind feature

**Description**

Allow loading images from tarballs like docker_image plugin does.

This (https://docs.ansible.com/ansible/latest/collections/community/general/docker_image_module.html) plugin allows loading images to docker by providing a path to a tarball.

Basically, this, but in Ansible:
[code]

[2020-11-12 08:09] sebastian-luna-valero opened #145 "KeyError: 'SIGINT'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The following play only works the first time:
[code]
The second time, I get:
[code]

**Steps to reproduce the issue:**

1. Run: `ansible-playbook playbook.yml`

This works as expected.

2. Run: `ansible-playbook playbook.yml`

This fails with the error mentioned above.

**Describe the results

[2020-11-16 06:43] ericzolf opened #146 "Add mac_address to podman_container fields"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman_container module doesn't offer the mac-address as field.

**Additional information you deem important (e.g. issue happens only occasionally):**

Without mac-address, I can't get a stable IP address through DHCP.

I attached a patched version of the module, untested yet but the chan

[2020-11-17 18:08] sshnaidm commented on #145
This should be solved by #126 . Do you use latest version?

[2020-11-18 07:34] sshnaidm commented on #146
@ericzolf thanks, why wouldn't you make PR from this file? Seems good to me.
You can [leave "Allow edits from maintainers" ](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/allowing-changes-to-a-pull-request-branch-created-from-a-fork) selected and then [any other can fix or change your patch](https://ardupilot.org/dev/docs/editing-prs.html) if yo

[2020-11-20 00:58] pschiffe opened #147 "add support for setting MTU in podman_network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The [CNI bridge](https://www.cni.dev/plugins/main/bridge/) plugin/driver supports setting custom MTU value, but it's not possible to set this value via containers.podman.podman_network. Please add support for MTU setting directly or via some general custom fields. Thanks!

[2020-11-22 10:50] ericzolf commented on #146
I could but the difference between my version, based on the Galaxy version, and the current master version is quite huge (I guess due to "Move containers logic to module utils") is quite huge. Let's see...

[2020-11-23 13:53] #146 closed

[2020-11-23 16:30] sshnaidm commented on #147
@pschiffe as I see it's not supported in [`podman network`](https://github.com/containers/podman/blob/master/docs/source/markdown/podman-network-create.1.md) command, so firstly it should be added there. Can you maybe add issue in [podman repo](https://github.com/containers/podman/) to support MTU?

[2020-11-23 17:14] pschiffe commented on #147
Done! Thanks for taking a look.

https://github.com/containers/podman/issues/8454

[2020-11-24 05:52] ericzolf commented on #102
I see that the `podman_volume` does two inconsistent things:

1. "label" option is partially documented as being a list of `var=value` but is actually a dict of `var: value` according to the example (and is also a dictionary in the other modules)
2. "options" is a list of `var=value` strings whereas it is a dictionary of `var: value` in docker_volume

[2020-12-02 13:17] pschiffe commented on #147
The change has been implemented in https://github.com/containers/podman/pull/8457, waiting to be released.
The parameter is `-o, --opt` and 2 values are supported, `mtu` and `vlan`; can be used like `mtu=9000` or `vlan=9`

[2020-12-02 13:21] sshnaidm commented on #147
@pschiffe great, thanks for the effort!

[2020-12-07 06:02] ivanov17 opened #150 "Volume's 'options' option still break idempotency when set with list elements (and failed when set as a string)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Like a #108. It still doesn't work with `uid` and `gid` options of the `o` option.

Latest version of the `containers.podman` collection has been installed:
[code]

---
**1. SET OPTION AS A STRING**

**Steps to reproduce the issue:**

Run the task:
[code]
**Describe the results you received:*

[2020-12-09 20:32] nmasse-itix opened #152 "gidmap parameter is broken with podman 2.2.0"
/kind bug

**Description**

The gidmap parameter of the "podman_container" task worked with podman 2.1.1 but is unusable with podman 2.2.0.

**Steps to reproduce the issue:**

Install podman 2.1.1.

[code]

Create a playbook **test.yaml**:

[code]

Run it with `ansible-playbook test.yaml`

The playbook produced a warning:

[code]

But the content of the gidmap is correctly set:

[code]

Install po

[2020-12-13 20:52] sshnaidm commented on #143
In older versions of podman only `LogPath` was available in inspection. Recently was added `LogTag`, but `max-size` seems still not reported.
OK, seems like need to rework `log_opt` parameter and maybe to make it dictionary like:
[code]

[2020-12-14 23:12] f-eric commented on #143
Thanks for the analysis! I really wish I could help and contribute in this... I started looking at the code with your proposal, which I think from an Ansible perspective is great, but things doesn't make sense to me. If someone decide to help out with this I'm sure going to look at the code to hopefully learn something.

[2020-12-15 06:59] sshnaidm commented on #145
Closing because no activity, bug should have been resolved

[2020-12-15 06:59] #145 closed

[2020-12-15 07:00] sshnaidm commented on #132
I think we can close this issue. Feel free to reopen if there are still questions.

[2020-12-15 07:00] #132 closed

[2020-12-16 15:55] wkulhanek opened #153 "podman_image does not pull latest image unless force is specified"
/kind bug

**Description**

Wrote a playbook to update local images automatically. Found that when an image is already present on the target machine the image does not get pulled - even if there is a newer tag available in the repository. This is a problem when using "latest" or "version" tags that always point to the latest image of a major version.

*force* does force the image download but that

[2020-12-20 14:50] #147 closed

[2020-12-20 16:35] falstaff1288 opened #156 "New Galaxy tag replacing the 1.3.2 version"
Hello,

This is not a bug but rather a feature request.

Is there any plans to soon replace the 1.3.2 Galaxy tag for this project?

A lot of useful features as been added since October and pulling the collection through the `ansible-galaxy` command always pull the 1.3.2 version no matter what due to the version being hardcoded in the galaxy.yml file. I would prefer to use ansible-galaxy to pull th

[2020-12-20 17:58] sshnaidm commented on #156
Sure, I'll try to release today or tomorrow, after some bugfixes.

[2020-12-20 18:24] sshnaidm commented on #150
OK, we'll need to process GID and UID separately from other options, because they're not reported under `Options`.

[2020-12-20 19:07] sshnaidm commented on #150
@ivanov17 correct syntax will be a list:
[code]
or
[code]

[2020-12-20 19:10] #150 closed

[2020-12-20 20:12] sshnaidm commented on #156
1.4.0 is in galaxy

[2020-12-20 20:12] #156 closed

[2020-12-20 22:53] #143 closed

[2020-12-20 22:53] #152 closed

[2020-12-23 13:31] amenzhinsky opened #161 "Container restarts"
Hi there.

For now restarting containers with the collection is not very elegant opposed to docker_container:

[code]

Whereas podman requires all container parameters but they can be pulled from `podman inspect`:

[code]

For now I'm sticking to this very simple workaround:

[code]

[2020-12-23 13:35] amenzhinsky opened #162 "Root mount is not idemponent"
The following task always reports changed state:

[code]

[code]
It removes/adds root slash iteratively.

I'm using the latest tag version.

[2020-12-23 13:40] amenzhinsky opened #163 "Better env diff"
Any variable change in `env` reports whole vars dictionary including image variables `PATH`, `TERM`, etc., which is not very handy especially where there are many of them.

btw docker_container handles it well.

[2020-12-23 22:30] sshnaidm commented on #162
Yes, it's known issue with podman that it removes trailing slash from volumes, we handle it here:
https://github.com/containers/ansible-podman-collections/blob/281ec2fb82eb22468715ed3234cb298e275a6325/plugins/module_utils/podman/podman_container_lib.py#L1123-L1125
let me see why it didn't work in root case..

[2020-12-23 22:34] sshnaidm commented on #162
@amenzhinsky tell me please if this works for you https://github.com/containers/ansible-podman-collections/pull/164

[2020-12-23 22:36] sshnaidm commented on #161
It can be an action which requires name of container only, fair enough.

[2020-12-26 16:41] c-goes opened #165 "Support for podman-create"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Support for an equivalent command to `podman create`. Create a container without starting it. I tried `podman_container` with state `present` but it doesn't do what I expected.

[2020-12-26 16:54] sshnaidm commented on #165
@c-goes you need state `stopped`. Maybe worth to add alias `created` for it.

[2020-12-26 17:37] c-goes commented on #165
If just want to make sure the container exists. I don't want to stop it if it's running.

[2020-12-26 22:02] c-goes opened #166 "podman_container: state "stopped" is not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot create a stopped container.

**Steps to reproduce the issue:**

1. run this task
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

no error

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of

[2020-12-27 13:46] sshnaidm commented on #166
It was solved in https://github.com/containers/ansible-podman-collections/commit/cd652fe2ee9292815de6d0de74bf20f1e43e0756 in 1.4.0
Please update the collection to latest.

[2020-12-27 13:46] #166 closed

[2020-12-27 13:57] sshnaidm commented on #165
I can think about "created" state as it's done with `podman_pod` module here:
https://github.com/containers/ansible-podman-collections/blob/90e6bc33f91f4ccee97a95fadbc676efdb338fc9/plugins/module_utils/podman/podman_pod_lib.py#L669-L675

[2020-12-27 14:00] #162 closed

[2020-12-27 14:02] sshnaidm commented on #163
@amenzhinsky a use case or an example would be useful, thanks

[2020-12-28 09:17] amenzhinsky commented on #163
[code]

[2020-12-28 09:24] amenzhinsky commented on #162
It does, thank you.
Sorry for the late response.

[2021-01-05 22:43] sshnaidm commented on #165
@c-goes please try #167 if it helps you

[2021-01-06 12:46] f-eric commented on #143
After a long vacation I'm back and was surprised this was fixed already. I've just verified it works very well on my side after updating the collection. I have also looked at the code changes made and I cannot really wrap my head around it, but hopefully I'll understand it one day.
@sshnaidm Thank you very much! 🙏

[2021-01-06 13:20] #165 closed

[2021-01-06 13:45] c-goes commented on #165
Thanks.

[2021-01-07 22:56] #161 closed

[2021-01-07 22:57] sshnaidm commented on #161
You can try:

[code]

[2021-01-07 23:25] sshnaidm commented on #153
@wkulhanek tbh I don't understand the reproducing. The playbook you run is supposed to pull `docker.io/wkulhanek/logtofile:0.1` (`{{ r_images.images[0].RepoTags[0] }}` in your task) and it pulls it. You don't try to pull the `latest`.

But if I put `latest` in task, then yes, it runs `podman image ls docker.io/wkulhanek/logtofile:latest` and finds it, and if there is no force pull, then nothing is

[2021-01-07 23:34] wkulhanek commented on #153
@sshnaidm the image had changed. Tag was still 1.0 but the sha was different.

[2021-01-07 23:41] sshnaidm commented on #153
Anyway, if image exists with `podman image ls <image_name>:<image_tag>`, it won't be pulled by module until `force` is set. The `force` is `false` by default.

[2021-01-08 10:44] #153 closed

[2021-01-08 11:02] #23 closed

[2021-01-08 15:18] sebastian-luna-valero commented on #145
Hi, sorry for my late response.

Thanks, I confirm it works with version 1.3.2 of the podman collection.

[2021-01-11 07:40] Samet-MohamedAmin opened #171 "Is it possible to import local images ?"
I am working in an environment without any external connection except ssh.
So I have to save images as files, then copy these files to remote server and then import image files.

Does ansible-podman-collections support importing local images (without pulling images from repositories like docker hub)?

[2021-01-11 14:04] sebastian-luna-valero opened #172 "Examples of the ansible connection plugin for podman on remote hosts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I have been looking for examples on how to use the Ansible connection plugin for podman on remote hosts, without success.

All examples I have found so far just work with the Ansible connection plugin when both Ansible and podman containers are deployed on the same host. For example: http

[2021-01-11 14:10] sshnaidm commented on #171
If you mean loading images from tarballs, we have a request for this: #144

[2021-01-11 21:33] jtriley opened #173 "idempotency broken for containers with case-sensitive command param"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**

The container gets recreated every run even though the state is set to present and recreate is not set.

**Describe the results you expected:**

The container should not be changed/recreated on the second run wit

[2021-01-12 11:38] #173 closed

[2021-01-12 11:38] sshnaidm commented on #171
duplicate

[2021-01-12 11:38] #171 closed

[2021-01-13 20:23] #59 closed

[2021-01-14 10:33] jensrudolf opened #178 "Using env_file breaks idempotency"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Create container using podman_container and supply environment file via env_file

2. Rerun playbook without changing environment file contents or location

**Describe the results you received:**
Container is recreated. Ansible-playbook shows task result a

[2021-01-14 11:22] sshnaidm commented on #178
@jensrudolf yes, it's done because we can't check `env_file` file and what are variables there, so it's done on purpose:
https://github.com/containers/ansible-podman-collections/blob/03f578405c95d4d54657a45ba15d3cea8f71325d/plugins/module_utils/podman/podman_container_lib.py#L623

On the other hand I think maybe possible solution would be to ignore this setting and put responsibility for checking

[2021-01-14 19:41] diggnsaegg commented on #18
any updates here? Right now I'm using the shell module to create systemd files.

[2021-01-14 22:32] tvannahl opened #179 "Crash on containers.podman.podman_volume"
/kind bug

**Description**

I got a crash during using `container.podman.podman_volume` after a second run - after the volume has been initially created. The respective ansible-podman collection used has been v1.4.1.

**Steps to reproduce the issue:**

Create the environment as described and run the `provision` step twice.

2. Run `vagrant up && vagrant provision` to provision for a second time.

[2021-01-15 00:29] #179 closed

[2021-01-15 07:22] jensrudolf commented on #178
@sshnaidm I am not sure, I understand why `env_file` can't be checked. The file is expected to exist on the target host where the module is executed. Can't we parse it on the target host and check vs. the containters environment? It would event make sense to me just to check the modification time of `env_file`  and only recreate the container if it is newer than the container creation time.
If tha

[2021-01-29 15:55] derekmwright opened #182 "log_level Not Idempotent on CentOS 8"
Formal bug report below, I have tested a fix and will attach PR shortly

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. On CentOS 8 install Podman 3.0.0-dev (current as of this issue creation)

2. Create a container using podman_container (see playbook below)

**Describe the results you received:**

S

[2021-01-29 15:57] derekmwright commented on #182
Issue is here: https://github.com/containers/ansible-podman-collections/blob/master/plugins/module_utils/podman/podman_container_lib.py#L884-L891

exitcommand is being checked for the value that should match whats passed in Ansible, when it should be checking against ['config']['createcommand']

[2021-01-29 16:06] derekmwright commented on #182
https://github.com/containers/ansible-podman-collections/pull/183

[2021-02-07 22:37] brettinternet commented on #165
Thank you for this feature. This is particularly useful with: https://podman.io/blogs/2020/12/09/podman-systemd-demo.html

[2021-02-08 11:51] Gug42 commented on #144
Hello,

Thank your for your works first.
Well indeed I have the same need but sadly no real capacity to modify the plugin code.

Thank you in advance.

[2021-02-09 09:30] lolllpop opened #184 "Using slirp4nets options breaks idempotency"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. Create container using podman_container and supply network mode with additional options

2. Rerun playbook without changing any parameters

**Describe the results you received:**
Container is recreated. Ansible-playbook shows task result as 'changed'. Diff contains the network options.

**Describe the results you expected:**
Contain

[2021-02-10 15:24] andreasgerstmayr opened #185 "the systemd parameter of the containers.podman.podman_container module doesn't accept 'always' as a value"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `systemd` parameter of `podman run` accepts `true`, `false` or `always`, but in the `containers.podman.podman_container` module it only accepts a boolean value. See http://docs.podman.io/en/latest/markdown/podman-run.1.html#systemd-true-false-always

**Steps to reproduce the issue:**

[co

[2021-02-10 16:13] #182 closed

[2021-02-10 18:14] #185 closed

[2021-02-10 18:46] andreasgerstmayr commented on #185
that was quick, thanks!

[2021-02-10 19:19] sshnaidm commented on #184
@lolllpop please take a look if #189 helps

[2021-02-10 23:54] #184 closed

[2021-02-11 02:34] #178 closed

[2021-02-12 14:53] Madic- opened #192 "Container recreates everytime because of published_ports"
/kind bug

**Description**

Containers with published ports gets always recreated.

**Steps to reproduce the issue:**

1. Create whoami.yml
[code]

2. Run **ansible-playbook whoami.yml --diff** multiple times.

**Describe the results you received:**

[code]

The task only discovers the first published port.

**Describe the results you expected:**

I would expect no change when running the task aga

[2021-02-14 07:47] #192 closed

[2021-02-14 10:23] sshnaidm opened #199 "Create podman compose module"
/kind feature

**Description**
Podman released docker-compose feature support from version 3.0.0:
https://www.redhat.com/sysadmin/podman-docker-compose

Add this feature to Ansible collection as it's done with [docker-compose](https://github.com/ansible-collections/community.docker/blob/main/plugins/modules/docker_compose.py) module.

[2021-02-16 13:35] lolllpop commented on #184
@sshnaidm yes, did the trick: fixed. many thanks

[2021-02-18 09:54] Madic- opened #200 ""list index out of range" on pull task during check mode"
/kind bug

**Description**

Pulling images in check mode leads to a "list index out of range".

**Steps to reproduce the issue:**

1. Create playbook.
[code]

2. Run ansible-playbook whoami.yml --diff -C

Task crashes with "list index out of range".
[code]

**Describe the results you expected:**

The task should check if a pull is required.

**Output of `ansible --version`:**

[code]

**Output of

[2021-02-18 16:00] eliasnorrby opened #202 "Allow containers to stop gracefully when recreating"
/kind feature

**Description**

Consider the following use case: we want to continually deploy an application (`app`) using the `latest` tag. Thus, we have the following task in our playbook:

[code]

With `recrate: true`, the following actions will be performed:

[code]

**Request**

Instead of forcefully removing the container, allow it to stop gracefully by first running `podman stop`.

[2021-02-21 02:53] dmc5179 opened #204 "Podman image task examples us incorrect FQCN"
/kind bug

**Description**

The examples for the podman_image task from https://docs.ansible.com/ansible/latest/collections/containers/podman/podman_image_module.html

show like:
[code]

But the FQCN is actuall containers.podman.podman_image. Notice the missing "S" in the examples. If you copy the example and edit the tasks for your needs, ansible will not be able to locate the collection. Adding

[2021-02-21 03:00] sshnaidm commented on #204
@dmc5179 thanks, do you want to submit a patch to fix it?

[2021-02-21 03:19] dmc5179 commented on #204
@sshnaidm sure, I can do that.

[2021-02-21 04:27] dmc5179 opened #205 "Podman Image task doesn't really support saving to disk"
/kind bug

**Description**

The podman image tasks looks like it should support exporting a container image to a tar ball. Looking at the documentation one would use the push options, combined with the transport as "docker-archive". In practice this doesn't work because the regex code in the plugins/modules/podman_image.py can't really handle it. It's difficult to explain, you kind of have to try

[2021-02-21 04:29] dmc5179 commented on #205
To add more detail, if the image name contains a '/', which is what the regex code is looking for, then it will always try to push to that location. Because that's what push should do. But not what you really want if your push transport is docker-archive.

[2021-02-24 16:27] k6Q28k5w5eWuRuuzTg9j7GrKCbjt7 opened #211 "Podman volume throws keyerror if recreate is false"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a volume task without explicitly setting recreate to true, will throw a "keyerror uid" on second run.
example task:
[code]

**Steps to reproduce the issue:**

1. run example task
2. run example task again

**Describe the results you received:**
 Throws error and exits on second run. (

[2021-02-24 18:22] sshnaidm commented on #211
@k6Q28k5w5eWuRuuzTg9j7GrKCbjt7 can you please try the latest version? Either from galaxy or from repository. I suspect you use old version of ansible podman collection.

[2021-02-25 09:17] k6Q28k5w5eWuRuuzTg9j7GrKCbjt7 commented on #211
@sshnaidm You're right, somehow it wasn't pulling in the latest. I can confirm this isn't an issue on version 1.4.3. My apologies for the mistake

[2021-02-25 09:17] #211 closed

[2021-02-25 14:42] istolpov commented on #93
@sshnaidm hi, Sergey.

No, that is not enough, since there is an ongoing community process of migration to podman.

Consider this:

1) Company has a role that performs initial setup (including docker login)
2) Company also has hundreds of roles for different containers, image pushes, whatever else.

Now, with your approach that's potentially hundreds upon hundreds lines of code in hundreds of file

[2021-02-27 03:42] waweber opened #212 "Modules are not idempotent in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `podman_*` modules appear to remove and recreate identical resources when running in rootless mode.

**Steps to reproduce the issue:**

1. Create a non-privileged system user

2. Create a task to create a podman resource as your system user, e.g.
[code]

3. Run your playbook again, and se

[2021-02-27 10:46] sshnaidm commented on #212
@waweber can you please run `ansible-playbook` with `--diff` option? Like `ansible-playbook -vvvv --diff playbook.yml`. I can't reproduce it currently.

[2021-02-27 19:28] waweber commented on #212
@sshnaidm here's an entire minimal ansible setup, along with the Vagrantfile I used, and the log output
[example.tar.gz](https://github.com/containers/ansible-podman-collections/files/6055221/example.tar.gz)

[2021-03-01 11:05] sshnaidm commented on #212
@waweber can you try version from master please? I think it should help, most of issues were solved.

[2021-03-01 11:07] sshnaidm commented on #202
fixed in #203

[2021-03-01 11:07] #202 closed

[2021-03-01 11:21] #200 closed

[2021-03-01 11:22] sshnaidm commented on #200
@Madic- please check if #214 helped.

[2021-03-01 12:50] PrymalInstynct opened #215 "podman_pod stopped destroys containers in pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
### Role Tasks
[code]

**Describe the results you received:**
I get an error when the systemd service tries to start
[code]

**Describe the results you expected:**
I expect the systemd service to start correctly

**Additional information you deem important (e

[2021-03-01 16:13] waweber commented on #212
I updated to the latest master, the issue still happens.

I still notice this "disable dns" setting mentioned in the diff, I'm assuming the current state doesn't get parsed correctly somehow?

[code]

[2021-03-01 16:29] waweber commented on #212
This particular issue seems to be coming from https://github.com/containers/ansible-podman-collections/blob/7bacd62fadb2bbc7f2bde842d15aa7f89c390a97/plugins/modules/podman_network.py#L311

I am not explicitly specifying `disable_dns: yes`, but I assume what I want here is "no." It looks like it is looking for a file to check whether or not the dnsname plugin is installed, but none of these exist a

[2021-03-01 16:31] sshnaidm commented on #212
@waweber in your log network `www-network` already existed. Can you please run the following playbook?

[code]
Yes, it's related to DNS plugin finding, so I want to be sure.
Do you have one of these files on your remote system?
[code]

[2021-03-01 16:35] sshnaidm commented on #212
@waweber actually nevermind, I could reproduce the issue on CentOS 8. Seems like it appears there only. Will work to fix it, thanks for reporting.

[2021-03-03 16:03] sergei-maertens commented on #215
I'm running into the same problem, thanks for confirming the workaround I had in mind

[2021-03-03 17:29] sshnaidm commented on #215
@sergei-maertens @PrymalInstynct do you have maybe smaller playbook that reproduces it?

[2021-03-03 17:30] sshnaidm commented on #212
Seems like rootless network will always has DNS enabled. But need somehow to detect that it's rootless.

[2021-03-03 21:11] Madic- commented on #200
It works. Thank you

[2021-03-03 23:16] PrymalInstynct commented on #215
@sshnaidm I dont have anything shorter, granted I do see that what I provided isn't really complete as this is a set of tasks from a larger role, but the setup of the user and enabling it to support  `systemctl --user` functionality is a core function of the role and what is causing the tasks to fail.

[2021-03-04 04:01] waweber commented on #212
Also noteworthy is that if I do make the network as root, it doesn't enable DNS. Trying to explicitly set `disable_dns: no` results in the diff:

[code]

every time. The dns plugin is definitely available as it works in usermode.

[2021-03-04 05:17] maybe-sybr opened #218 "Pushing to a specified dest is not respected if name "is a URL""
/kind bug

**Description**

`push_args['dest']` is ignored if the name of an image to be pushed is a URL (well...contains a forward slash). This is kind of annoying and is blocking me from using the podman module to push images to my registry mirror.

**Steps to reproduce the issue:**
1. `podman run --rm -ti -p 5000:5000 registry:2`
2. Make this task
[code]
3. Attempt to run the task

**Describe t

[2021-03-04 05:19] maybe-sybr commented on #218
The check which causes this is:
https://github.com/containers/ansible-podman-collections/blob/7bacd62fadb2bbc7f2bde842d15aa7f89c390a97/plugins/modules/podman_image.py#L669-L671

[2021-03-04 11:50] sergei-maertens commented on #215
Not really - this is part of a larger ansible collection that I'm developing.

The flow for this is:

1. Create pod: https://github.com/open-zaak/ansible-collection/blob/feature/podman-support/roles/open_zaak_podman/tasks/containers.yml#L6
2. Add containers to pod (which appear to _start_ the pod as well): https://github.com/open-zaak/ansible-collection/blob/feature/podman-support/roles/open_zaak_

[2021-03-08 14:33] nomadcz opened #219 "podman_image doesn't authenticate when doing pull"
/kind bug

**Description**
podman_image doesn't authenticate when doing pull

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
Failed to pull image my.repo/ansible29:2.9.17

**Describe the results you expected:**
Image properly pulled from repo

**Additional information you deem important (e.g. issue happens only occasionally):**
For some reason "pull" pretty much

[2021-03-08 20:55] nomadcz commented on #219
So it seems fix is already included here in the repo. So I guess I just have to wait for RedHat to include fixed version in RHEL8.

[2021-03-08 20:55] #219 closed

[2021-03-09 11:21] sshnaidm commented on #219
@nomadcz for a newer version of this collection you just need to install a newer version from Galaxy:
 `ansible-galaxy collection install --force containers.podman`

[2021-03-13 14:02] zenkuro commented on #44
In case this issue have not being fixed yet:
It is possible to mitigate it by making asynchronous call to make container:
[code]

[2021-03-16 14:30] sshnaidm commented on #93
@istolpov I'm only for creating such module :smile:

[2021-03-18 20:20] giromide commented on #218
I've run into this problem as well.

I also noticed a lack of any push tests here: ansible-podman-collections/tests/integration/targets/podman_image/tasks/main.yml

[2021-03-19 19:32] giromide commented on #218
@maybe-sybr I was running into a similar problem, and I cannot guarantee this will fix your problem, but here is what I did to address my problem yesterday:

ansible environment:
* RHEL 7.x
* ansible-2.10.x
* v1.4.0 of this collection

my playbook:
* set up tmpdir
* write templates as Dockerfile, entrypoint script to tmpdir
* copy over some release with binaries to tmpdir
* run `buildah bud --tag

[2021-03-23 19:37] waweber commented on #212
@sshnaidm looked into this some more and found some interesting stuff

So it turns out, the `dnsname` executable is not present in the `containernetworking-plugins` package that gets installed as a dependency for `podman`. This is instead provided by `podman-plugins`, which was not installed on the systems I tested with.

However, container name resolution was working somehow when running rootless

[2021-03-24 08:02] hschoefer opened #222 "podman_image_info cannot handle empty image list result from podman command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Start a system with podman installed without pulling any image

2. Use _podman_image_info_ in an Ansible playbook before pulling first image

**Describe the results you received:**
Execution fails with message `{"changed": false, "msg": "Unable to gather

[2021-03-24 18:45] bofillj opened #223 "KeyError: 'restarted' when using containers.podman.podman_pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to restart a pod using the module mentioned in the title. Returns error mentioned above

**Steps to reproduce the issue:**

1. Try to restart a pod using ansible

**Describe the results you received:**
[code]

**Describe the results you expected:**
The pod should restart

**Additional

[2021-03-25 18:01] waweber opened #224 "Idempotency issue for networks involving IPv6 address shortening"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman networks can be non-idempotent because a diff occurs when using shortened/non-shortened IPv6 addresses

**Steps to reproduce the issue:**

1. Create a network with ipv6 enabled, using the subnet e.g. fd4f:552c:830f:0000::/64
2. Re-run the play

**Describe the results you received:**

T

[2021-03-25 18:20] waweber opened #225 "Idempotency issue when publishing ports bound to an IPv6 address on the host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman pods/container module is non-idempotent when working with IPv6-bound published ports.

**Steps to reproduce the issue:**

1. Create a pod with a published port `'[fd47:dc22:e576::1]:8080:8080'`. Note that the square brackets are required or the module/podman cannot parse the IPv6 addre

[2021-03-31 14:27] sshnaidm commented on #224
I'd rather not to add additional dependency for the module. I don't see any point in specifying address as `fd4f:552c:830f:0000::/64`, while you can use an usual ipv6 form `fd4f:552c:830f::/64`.

[2021-03-31 15:28] #225 closed

[2021-04-01 08:53] mbaldessari opened #227 "cap_add triggers an unexpected container restart due to casing in labels"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In our testing in tripleo master with https://review.opendev.org/c/openstack/tripleo-ansible/+/778095/ applied (so we get a more recent ansible-podman-collection) we observe that containers that have any cap_add: set will be restarted during a redeploy with no changes.

**Steps to reproduce t

[2021-04-01 09:50] cgoncalves commented on #227
The problem appears to be that dictionary values in labels are being lower-cased in diffparam_label.
The following diff worked for us:

[code]

[2021-04-01 09:58] #223 closed

[2021-04-01 11:48] sshnaidm commented on #215
I hope #229 will help.

[2021-04-01 11:52] sshnaidm commented on #204
Looks like it's fixed

[2021-04-01 11:52] #204 closed

[2021-04-01 11:52] #215 closed

[2021-04-01 13:33] #227 closed

[2021-04-01 20:19] waweber commented on #224
@sshnaidm the `ipaddress` module is a builtin that has been provided with Python since version 3.3.

If the correct behavior isn't going to be implemented, then the documentation should be updated to clearly indicate that the user must shorten IPv6 addresses in all ways possible. For example, even the "normal" looking address `fd4f:7b14:01b0:6d66::/64` results in a change when a user would reasona

[2021-04-01 20:38] sshnaidm commented on #224
We still support py2, but actually we can make "best effort" here, if `ipaddress` is importable, then do shorten, if not - just ignore it Reopening

[2021-04-01 21:22] waweber commented on #224
For something that works in both Python 2 and 3, you can do `import socket; socket.inet_ntop(socket.AF_INET6, socket.inet_pton(socket.AF_INET6, "fd00:ab:00::1"))` which will return the shortened string for any input ipv6 address. However, the CIDR notation has to be split out first.

[2021-04-01 23:36] #212 closed

[2021-04-02 00:00] sshnaidm commented on #224
That's interesting workaround, but let's keep it simpler. Python 2 support will go eventually.

[2021-04-02 00:01] #224 closed

[2021-04-02 00:53] #222 closed

[2021-04-05 17:41] #93 closed

[2021-04-05 18:06] sshnaidm commented on #93
Docs: https://containers.github.io/ansible-podman-collections/podman_login_module.html#ansible-collections-containers-podman-podman-login-module

[2021-04-05 21:21] JayDoubleu opened #240 "connection/podman.py broken on F34"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Unable to use podman connection on F34 `operation not permitted`

**Steps to reproduce the issue:**

1. Run any command with podman connection

**Describe the results you received:**

Every play fails with not permitted error

**Additional information you deem important (e.g. issue happens onl

[2021-04-05 21:25] sshnaidm commented on #240
Yeah, it's probably best to start using `unshare` here.

[2021-04-05 21:35] JayDoubleu commented on #240
Any way to temporarily make it work ? Tried replacing `local_cmd = [podman_cmd]` with `local_cmd = ["/usr/bin/podman", "unshare"] + [podman_cmd]` entirely but no luck.

[2021-04-06 15:15] sshnaidm commented on #240
@JayDoubleu can you please provide a task that actually fails? It's not clear from the issue. Trying to reproduce now.

[2021-04-06 15:24] sshnaidm commented on #240
@JayDoubleu please make sure you use actual collection with `connection: containers.podman.podman`:
[code]
This works for me in f34.

[2021-04-06 15:40] JayDoubleu commented on #240
[code]

[code]

[2021-04-06 16:03] JayDoubleu commented on #240
@sshnaidm Interesting.. This seems to be toolbox related.

I just created a simple container with `podman run -d -it ubuntu /bin/bash`
And it works as expected !

[2021-04-06 16:18] sshnaidm commented on #240
@JayDoubleu yeah, it seems related to how you create the container. I just ran `podman run -d --name toolbox --rm -it python:alpine sleep 1d`
Need to look how containers/toolbox is created.

[2021-04-06 16:32] JayDoubleu commented on #240
This might help: https://github.com/containers/toolbox/blob/main/toolbox#L1077..L1119

[2021-04-06 16:55] sshnaidm commented on #240
Well, seems like toolbox mounts the whole home directory:
[code]
and short reproducing is:
[code]
Maybe toolbox folks know what is the problem, or `podman cp` doesn't work with these kinds of mounts.

[2021-04-06 17:05] JayDoubleu commented on #240
Nice find! This seems to be the case for any other location I tried

[2021-04-09 16:01] JayDoubleu commented on #240
This seems to be podman issue https://github.com/containers/podman/issues/9985

[2021-04-09 16:01] #240 closed

[2021-04-18 19:16] gmarcy opened #246 "Unable to access remote podman containers via intermediate ssh host"
/kind bug

**Description**

I have a playbook to create a podman container on either a remote or a local machine.  The podman_container task creates the container and runs it fine in either case.  After I add the container to the hosts group and try to use the podman connection to reach it the local play works but the remote play fails.

**Steps to reproduce the issue:**

1. Run playbook using rem

[2021-04-18 19:21] gmarcy commented on #246
@TomasTomecek any thoughts/suggestions?  Not sure if this is a configuration issue, or simply beyond the capabilities of non-ssh connection modules.

[2021-04-18 22:59] sshnaidm commented on #246
Why not to run podman connection remotely as well?
Anyway, probably you need to use `podman-remote` for that:
`ansible_podman_executable: podman-remote`
https://github.com/containers/ansible-podman-collections/blob/ecc02870df6be7e3841bb5d191938b5e5c5db587/plugins/connection/podman.py#L63-L70

At least it was designed for that. But `podman-remote` [didn't support remote `cp` operation for a long ti

[2021-04-22 19:10] gmarcy commented on #246
Thanks @sshnaidm for the response.

I tried changing `ansible_podman_executable` to `podman-remote` and the output was:

[code]

Any ideas on what to attempt next?  I am not sure how the podman-remote would be able to determine where the remote_container was created since that was done by a containers.podman.podman_container ansible task.
Are there some other podman commands I need to run to regis

[2021-04-22 20:01] carbolymer opened #247 "podman_container: State 'started' required image to be configured!"
Use the following task definition

[code]

**Actual Result:**
`fatal: [localhost]: FAILED! => {"changed": false, "msg": "State 'started' required image to be configured!"}`

**Expected result:**
The task should not require image parameter - if the container with the provided name exists, it should be started.

[2021-04-23 16:52] gmarcy commented on #246
After much additional trial and error I managed to get something to work.  Still assessing how stable it is.  One thing I did notice is that podman.service on the remote host is filling up with lots of conmon processes, several for each remotely executed command.  They all appear to end with --exit-delay 300 so I'm guessing they will eventually go away, but would be nice if there was a way to be m

[2021-04-23 16:57] gmarcy commented on #246
Also, since there doesn't appear to be a `buildah --remote` option, is there any way to get a similar approach to work with the buildah connection plugin?

[2021-04-24 03:23] phongngthanh opened #248 "(Rootless) Pod that is connected to network does not run after reboot"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

(Rootless) Pod that is connected to a named network cannot run without network recreation after reboot

**Steps to reproduce the issue:**

1. Run the following playbook:
[code]

2. Container runs normally. Reboot the computer.

3. Rerun the playbook.

**Describe the results you received:**
1.

[2021-04-24 08:17] sshnaidm commented on #248
I'll take a look, but seems to me podman problem, not collections or ansible.

[2021-04-24 19:37] sshnaidm commented on #247
I think it's better to leave it as is. Otherwise there is no way to separate create&start container and "just started one that was already created". You can use `state: restarted` in order to start created container. Tell me please if it works for you.

[2021-04-25 12:54] carbolymer commented on #247
There's no `restarted` state: https://docs.ansible.com/ansible/latest/collections/containers/podman/podman_container_module.html#parameter-state

[2021-05-01 23:50] jsbueno commented on #44
I was hitting this error in other system (nothing to do with this project) -
more people have this issue online, so I am documenting here (one of the first hits
when googling for it)
for whoever cares: this takes place when the TTY is switched to non-blocking read/write
(usually to be able to read the keyboard, or writting without having to wait for a `\n`.)

Temporarily switching back to blocking

[2021-05-02 00:15] jsbueno commented on #44
I had this error in my project and documented the fix here:
https://stackoverflow.com/questions/67351928/getting-a-blockingioerror-when-printing-or-writting-to-stdout/67351929#67351929

[2021-05-02 20:05] dsedivec opened #249 "podman_network ipv6=no doesn't seem to work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman_network `ipv6=no` seems to pass `--ipv6` to e.g. `podman network create`.

**Steps to reproduce the issue:**

1. `ansible -m containers.podman.podman_network -a 'state=present name=testnet0 ipv6=no' somehost`

**Describe the results you received:**

[code]

**Describe the results you e

[2021-05-02 22:20] sshnaidm commented on #249
Why do you pass `no` to `ipv6`? What are you trying to achieve?

[2021-05-02 22:22] dsedivec commented on #249
I passed `ipv6=no` because it is listed as a boolean option and I wanted to make sure that IPv6 networking would not be enabled.

[2021-05-02 22:42] sshnaidm commented on #249
Please check #250
But usually you don't need to pass `false` to `ipv6`, it's the default.

[2021-05-02 22:44] #249 closed

[2021-05-02 22:46] dsedivec commented on #249
Works for me.  Thanks for the fix, and for the advice!

[2021-05-02 22:53] sshnaidm commented on #247
You can run like this:
[code]

Probably I can add alias `start` to `restart` if it will be helpful.

It can be a case when changing the containers, for example:

[code]
Need to take it into consideration as well.

[2021-05-02 23:05] sshnaidm commented on #248
@phongngthanh
I suggest to open issue in podman repo: https://github.com/containers/podman/issues because it's not issue in collection.
The reproducing is simple:

[code]
reboot
[code]

The errors:
[code]

[2021-05-03 15:44] phongngthanh commented on #248
I have opened the issues in the podman repo. Thanks for the assists @sshnaidm.
https://github.com/containers/podman/issues/10196

[2021-05-03 16:11] sshnaidm commented on #248
@phongngthanh thanks, I see it's fixed in 3.2, so need just to wait for a new version.

[2021-05-03 16:11] #248 closed

[2021-05-04 06:03] cjpit opened #251 "Volume is DELETED on re-running of playbook."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

Re-run playbook
**Describe the results you received:**
volumes removed and re-created

**Describe the results you expected:**
volumes are left as is.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version of the `co

[2021-05-04 06:55] sshnaidm commented on #251
@cjpit can you please run the playbook with `--diff`?
Or maybe just this:
[code]

[2021-05-04 07:24] cjpit commented on #251
@sshnaidm  I assumed you meant odoo-vol-web-dev since that is the one causing the issue:

[code]

[2021-05-04 07:27] cjpit commented on #251
Interestingly enough, I ran the playbook again just for giggles, and this time, it didn't recreate the volume!!

so what do you think is going on here?

[2021-05-04 07:33] sshnaidm commented on #251
@cjpit I don't know, I can not reproduce it. Probably something is in your environment?
Volumes `odoo-vol-web-devel` and `odoo-vol-web` are identical in your playbook, so if the behavior is different - something else is involved.

[2021-05-04 07:37] cjpit commented on #251
the volume that is not causing a problem was created a few months ago (older version?).

any volume i create currently has the same problem, however if i check for presence twice in the same playbook, this fixes it from then on....

[2021-05-04 07:52] cjpit commented on #251
just so that makes sense:

run play book that checks for a volume presence, that does not exist: -> result - vol created
run same playbook again: -> result : vol deleted and recreated

run a playbook that checks for a volume presence twice in the same playbook, where the vol does not exist: -> result vol created and the second check passes with ok as already being present.

run that same playbook

[2021-05-04 07:59] sshnaidm commented on #251
@cjpit still not reproducible, try to remove all volumes with this name and run the simplest playbook just of two tasks like [here](https://github.com/containers/ansible-podman-collections/issues/251#issuecomment-831722805) with `--diff` and see what happens.

[2021-05-04 12:16] cjpit commented on #251
it was working fine for a time there, (after doing the double check).  Had to reboot the server, and now its back again

[code]
This is rootless podman btw.

[2021-05-04 12:34] cjpit commented on #251
after a reboot, it started doing it again..
[code]

[2021-05-04 12:47] sshnaidm commented on #251
Hmm.. I see it's different volumes.
[code]
This didn't change.
Need to see how other volumes were created. Did you try the playbook I pointed to?
Do you create volumes manually?

[2021-05-04 13:39] cjpit commented on #251
Sorry I must not be explaining myself properly.  The playbook should NOT be recreating the volume above.  Its deleting it and I'm losing all of the files on that volume

The one that is "ok" is correct, it should not be deleting the volume, it was creating initially by the playbook months ago.

the one that is breaking is the one that is showing the options changing the gid/uid.

I also have the l

[2021-05-04 13:46] sshnaidm commented on #251
Yeah, I understand the problem. The volumes apparently were created with a different podman version. I need to catch what is the difference between versions here, because there are a lot of changes in GID/UID part. I'm not sure I can fix it and it's worth a fix. I can try. Can you do `podman volume inspect volume_name` for old volumes and paste it here?
But for latest podman version I see task did

[2021-05-04 13:48] cjpit commented on #251
you read my mind i just actually ran that and sure enough...

[code]

[2021-05-04 13:49] cjpit commented on #251
interestingly enough test-vol is a test mount that i just created in a one line playbook via awx...so very strange

[2021-05-04 13:58] sshnaidm commented on #251
How was this volume created? That has uid/gid 101.
[code]
Probably need to test on remote machine:

`id`
`podman volume create --name myvol`
`podman volume inspect myvol`

`podman volume create --name newvol --opt o=uid=101,gid=101`
`podman volume inspect newvol`

[2021-05-04 14:06] cjpit commented on #251
thats from the same playbook as above...

I tried changing the names from dev to devel just to recreate them, but it did the same thing

here is the output of the cmds
[code]

[2021-05-04 14:09] sshnaidm commented on #251
OK, I don't understand then where `101` is coming from.. Your user has id `1000`. Any ideas? Do you run from container maybe? Just guessing..

[2021-05-04 14:28] cjpit commented on #251
ohhhh....wow u know what...
i have a local user named odoo

The container im setting up with podman in this playbook also has a user named odoo
its gid/uid is 101

so maybe its getting totally confused because of the same name?

[2021-05-04 14:36] sshnaidm commented on #251
Probably, like I said there is something in your environment. Need to look who exactly creates volumes and how.

[2021-05-04 14:51] cjpit commented on #251
the playbook is the one creating it....so the containers.podman collection is obviously running a command - how does it decide that it needs to remove the volume?

[2021-05-04 14:55] sshnaidm commented on #251
The playbook runs from specific environment, with specific local and remote users, etc. There a mess with users, `uid` and `gid`. Unfortunately I can't guess what's wrong there.

[2021-05-04 20:52] rpocase commented on #251
I ran into what I believe to be the exact same issue after upgrading to podman 3.1.2 on a target. I believe the root cause does have something to do with the "ansible user" (i.e., whoever is running ansible-playbook) matching the remote username. E.g., in my scenario I have a central server with an named user "ansible" that typically connects to a corresponding servers named user "ansible". I was

[2021-05-05 05:49] cjpit commented on #251
Doing a bit more investigation today... creating the volume via cmd line on the host, as the user in question, it does not add the UID/GID

create the volume in a playbook, using a command: and it adds the UID/GID to the volume. (running as the same user via remote_user)

For now I'm just going to go the route of not using idempotentcy?? for my volumes and always create them and ignore errors.

So

[2021-05-05 11:15] sshnaidm commented on #251
@cjpit try to create a volume on **remote** host, where task is executing, like:
[code]

Then run ansible task like this `ansible-playbook -vv test.yaml` with **the same** `ansible_user` on remote you used above.
test.yaml
[code]

On the **remote host** run `journalctl | grep PODMAN-VOLUME-DEBUG` to see which commands were executing, the same you can see in returning values from ansible task actua

[2021-05-05 11:18] sshnaidm commented on #251
If it continues to happen with same podman version, I probably can disable idempotency for `uid`/`gid` parameters. But I'd like to know **why** I do it, what is the root cause.

[2021-05-06 11:57] dsedivec opened #252 "podman_container rebuilds container because it erroneously thinks network has changed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman_container` keeps wanting to recreate my container because it thinks my network has changed.

**Steps to reproduce the issue:**

1. Run `ansible-playbook test.yaml --diff` (playbook below) two or more times.

**Describe the results you received:**

On the second run, container test2 is

[2021-05-12 13:52] #98 closed

[2021-05-13 15:28] rhatdan opened #256 "Please rename the master branch to the main branch."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version of the `containers.podman` collection:**
**Either git

[2021-05-13 23:28] gotmax23 opened #257 "[Documentation: `podman_container`] The behavior of the `state` key is inconsistent with `docker_container` and not well documented"
This issue is regarding the `container.podman.podman_container` module. I discarded the regular bug template because it is not applicable to this issue.

It appears that `state: present` and `state: started` do the same thing. In general, the documentation for the `state` key is unclear.

Additionally, the `state` key for the `community.docker.docker_container` module has different options and beh

[2021-05-14 15:12] gmarcy commented on #246
@sshnaidm @TomasTomecek any additional thoughts on being able to use buildah connector remotely?  have a similar playbook with local and remote tags.  the localhost version works great, but unable to get the remote equivalent to function.

[code]

[2021-05-22 03:30] inntran opened #259 "missing cgroups options in containers.podman.podman_container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

"cgroups" at containers.podman.podman_container does not accept options other than "default" and "disabled".
But the podman-run's manpage provides more than that.

**Steps to reproduce the issue:**

1. Create a playbook, include this task:
[code]

**Describe the results you received:**
`FAILE

[2021-05-22 13:20] lowne commented on #259
I have the same issue. The relevant line is [here](https://github.com/containers/ansible-podman-collections/blob/6f7c1f340fa44cdfd03c90921558d43f6d24d477/plugins/module_utils/podman/podman_container_lib.py#L25), but the options themselves were [added in podman 1.80](https://github.com/containers/podman/blob/490915c68e6fce48508d42d138ac1c92c877abe7/changelog.txt#L3072) and [2.10](https://github.com

[2021-05-22 13:38] lowne commented on #259
It seems that `--tz=` is also missing, and was similarly added in [2.10](https://github.com/containers/podman/blob/490915c68e6fce48508d42d138ac1c92c877abe7/changelog.txt#L1752)

[2021-05-22 20:17] sshnaidm commented on #259
@lowne please create a separate issue about `--tz`, maybe other parameters that you found as well.

[2021-05-24 08:40] sshnaidm commented on #259
Fixed in #262

[2021-05-24 08:40] #259 closed

[2021-05-24 08:50] sshnaidm commented on #257
OK, let's put things in order:

Docker choices:
[code]
Podman choices:
[code]
* `absent` does the same in all.
* `present` in docker _Asserts the existence of a container matching the name and any provided configuration parameters._ which checks idempotency and recreates in case it's needed.
`present` in podman does the same, but ensures containers is started and its alias is `started`. In docker

[2021-05-24 15:04] gotmax23 commented on #257
@sshnaidm Yes, I think that makes sense.

 I think it is also necessary to change the documentation to state that `state: present` is just an alias to `state: created` (or vice-versa). It's confusing to have seperate descriptions for two options that do the same thing.

For good measure, I think we should explicitly state in the docs that `state: created` (and its new alias) will not stop an exist

[2021-05-24 16:10] soulmanos commented on #18
I'd be keen for this functionality too, likewise using shell

[2021-05-25 10:40] sshnaidm commented on #257
Yeah, makes sense.

[2021-05-25 15:29] lowne opened #264 "Do not strip image name+tag from push destination when transport=dir"
/kind bug

**Description**

[This](https://github.com/containers/ansible-podman-collections/blob/ba763e2988c4d3f94940695a5699f26fb94ed31f/plugins/modules/podman_image.py#L651) isn't true when `transport`=`dir`, which results in all the images ending up into one giant broken pile if the the naked (i.e. unmangled) tag is used as part of the destination path (who's afraid of colons in filenames? :sha

[2021-05-25 16:24] sshnaidm commented on #264
Seems same as #218 and #205

[2021-05-26 10:19] sshnaidm commented on #18
This is an open source project, you're welcome to send a patch.

[2021-05-27 12:53] adrinux opened #265 "Unable to add a second container to a pod"
/kind bug

**Description**

First try at using these ansible modules. I define a pod 'miniflux', which gets created, then define two containers which should be in that 'miniflux' pod and specify the name with `pod: miniflux`.

Only the first gets added to the pod, for the second ansible reports that the 'pod already exists', which is true, but was also true for the fist container I added to the po

[2021-05-27 12:57] adrinux commented on #265
As usual had an epiphany on hitting the button:

Podman doesn't like creating a container with the same name as the pod.

Fixed by giving the second container a different name:
pod name: miniflux
container 1 name: miniflux-postgres
container 2 name: miniflux-app

Closing

[2021-05-27 12:57] #265 closed

[2021-05-28 11:48] adrinux opened #266 "Container update strategies - how to update containers when there is a new image on the registry?"
Kind: Support Request

I'm migrating several self-hosted applications from docker to podman. These are generally 'official' containers that projects use to distribute their applications via the docker.io registry. (So not containers that I want to modify internally.)

My previous strategy was to have Ansible compile a docker-compose.yml which I then ran through docker-compose on the server. This h

[2021-05-31 14:08] phongngthanh commented on #266
Currently it's possible to auto update the container running on systemd via setting a label in the container, which is already possible in the podman-ansible module. The missing piece is to create a podman-ansible systemd module, which can create and run systemd file for selected container (or pod), it's not available yet however (see issue #18 for more info), and making the module might not be tr

[2021-06-02 10:19] adrinux commented on #266
Thanks. I clearly have a bit more thinking to do around this.

[2021-06-02 10:19] #266 closed

[2021-06-02 11:36] lowne commented on #264
Those are indeed related. The section from [line 640](https://github.com/containers/ansible-podman-collections/blob/ba763e2988c4d3f94940695a5699f26fb94ed31f/plugins/modules/podman_image.py#L640) to [672](https://github.com/containers/ansible-podman-collections/blob/ba763e2988c4d3f94940695a5699f26fb94ed31f/plugins/modules/podman_image.py#L672) muddies every transport together and sometimes doesn't

[2021-06-09 11:41] d-rupp commented on #252
Same here

[2021-06-11 18:42] olanod commented on #251
I ran into this issue and was very unfortunate to lose the data of the volume I had(not very critical but still annoying). I haven't looked much into it but I think even with `recreate: no` still deletes and recreates the volume

[2021-06-18 13:08] rhatdan commented on #256
@sshnaidm Could you rename the master branch to the main branch, we want all of containers repos to fix this.

[2021-06-19 10:04] sshnaidm commented on #256
@rhatdan sure, just got a lot on the plate recently

[2021-07-06 22:51] #251 closed

[2021-07-07 15:48] #247 closed

[2021-07-07 15:48] #257 closed

[2021-07-24 04:40] ivanov17 opened #274 "Dual-stack networks always have the same subnet and gateway address for IPv4"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Dual-stack networks created with `containers.podman.podman_network` module always have the same subnet and gateway address for IPv4.

**Steps to reproduce the issue:**

1. (optional) Remove default podman network

2. Create first dual-stack network

3. Create second dual-stack network

**Desc

[2021-07-24 04:52] ivanov17 commented on #274
Hmm... The same results with the command line. It occurrs both with `podman 3.0.2-dev` on CentOS 8.4, as with `podman 3.2.2` on Fedora 34. It seems it's a podman bug.

[code]
[code]
[code]

[2021-07-25 10:35] sshnaidm commented on #274
@ivanov17 thanks for reporting for podman. Let's wait until it's fixed there.

[2021-07-25 10:35] #274 closed

[2021-07-29 16:54] ssbarnea commented on #256
Doing that rename is quite easy these days, GH did most of the things, even the git client knows about that. You only need to grep for `master` inside the repository after doing the rename to spot additional changes needed.

[2021-07-29 17:41] ivanov17 opened #276 "Idempotency of containers recreated by systemd units"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If a container created using Ansible is being recreated by systemd unit generated by `podman-generate-systemd`, it causes an idempotency issue.

On the one hand, they are two different containers. But it seems to be a wrong behavior because it takes away the possibility to check the created c

[2021-07-30 06:01] sshnaidm commented on #276
Probably we need to check if `'podman_systemd_unit'` is in labels. In this case we should ignore `cidfile` settings. And then strip `'podman_systemd_unit'` from labels.

[2021-08-01 14:24] c-goes opened #277 "Ansible not stopping when error occurs in container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When the command in the container errors Ansible continues the play.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

First task succeeds, second fails

[code]

**Describe the results you expected:**

Both tasks fail

**Additional information you deem import

[2021-08-01 17:17] sshnaidm commented on #277
When you run it with podman in CLI it's the same:
[code]
If you want it to fail, run without `--detach`:
[code]
and same with ansible:
[code]
About `detach` I think better to ask in podman project.

[2021-08-01 17:17] #277 closed

[2021-08-01 19:55] c-goes commented on #277
Thank you @sshnaidm for the in detail answer.
Now I understand.

[2021-08-02 08:42] sshnaidm commented on #276
@ivanov17 please see if #278 helps.

[2021-08-02 09:59] #276 closed

[2021-08-04 05:34] ivanov17 opened #282 "uid/gid volume options setting breaks idempotency"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container volume is always recreated if `uid` and `gid` options of the `o` option are set.

**Steps to reproduce the issue:**

1. Create podman volume with `containers.podman.podman_volume` module
2. Run the task again

**Describe the results you received:**

Container volume is always recrea

[2021-08-09 14:42] amenzhinsky opened #283 "Add podman secrets support"
Currently it's missing

[2021-08-09 17:58] sean-m-sullivan opened #285 "Podman image push only, seems to not do so"
/kind bug

**Description**
Using Podman images to push an built ansible ee image, and it tries to pull image an image, even though that is set to false.

**Steps to reproduce the issue:**

1.
[code]
podman images
REPOSITORY                            TAG      IMAGE ID      CREATED         SIZE
quay.io/ssulliva/ee_tools             latest   1a1e85769616  4 hours ago     737 MB
localhost/ee_tools

[2021-08-10 12:35] #283 closed

[2021-08-16 11:28] #252 closed

[2021-08-16 13:07] #282 closed

[2021-08-16 13:15] sshnaidm commented on #285
@sean-m-sullivan please provide exact playbook/task you are running for reproducing, thanks.

[2021-08-16 13:34] sean-m-sullivan commented on #285
This is the playbook
[code]
and the role task file it calls
[code]

[2021-08-16 13:58] sshnaidm commented on #285
@sean-m-sullivan sorry, I don't see a `containers.podman.podman_image` task there. Can you please paste just a task with all vars inside?
I see only `community.docker.docker_image` task.

[2021-08-16 14:25] sean-m-sullivan commented on #285
Sorry, Let me find it and fix it, I've been playing around a lot with this, will find the one that does.

[2021-08-16 15:54] sean-m-sullivan commented on #285
I've updated it to have the right playbook, also the playbook repo has the right version in the collections/requirements.yml if you want to use that.

[2021-08-16 16:07] sshnaidm commented on #285
@sean-m-sullivan can you please post output of `ansible-playbook -vv playbook.yaml`? Please include '-vv' there.
So far I can't reproduce.

[2021-08-16 16:49] sean-m-sullivan commented on #285
This is the the output I get with -vvv
[code]
Tested with the latest 1.7.0, this is the only error I'm getting, and the frustrating part is pull is set to false. I could understand if something else was going on.

[2021-08-16 20:33] sshnaidm commented on #285
@sean-m-sullivan I can't reproduce it, I prepared a debug file with print statements: #290 Please take it instead of your module in `/home/excalibrax/.ansible/collections/ansible_collections/containers/podman/plugins/modules/podman_image.py` and run in console before you run the task `journalctl -f | grep "PODMAN-IMAGE-DEBUG"` - it should print debug statements. Please paste them here. It would he

[2021-08-29 21:06] mskarbek opened #291 "podman_pod infra_name parameter"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman 3.3.0 added `--infra-name` to the `pod create` command, allowing custom name for infra container:
- release notes: https://github.com/containers/podman/releases/tag/v3.3.0
- pull request: https://github.com/containers/podman/pull/10820

[2021-09-01 02:11] ocafebabe commented on #205
Is there any workaround to this bug? This is really a blocker for us...

[2021-09-01 08:01] sshnaidm commented on #205
I'll do my best to look at it this or next week, although this module has to be rewritten in some point. It's kind of legacy code that hard to maintain and fix.

[2021-09-01 10:42] #291 closed

[2021-09-01 10:49] dmc5179 commented on #205
I haven't tested how this might effect every other permutation of this module but you can get the save function to work as expected pretty easily. I've attached a patch file for the containers.podman collection version 1.7.0 which works for me. I just patched the python file on disk under my user's collection path

[podman_image_1.7.0_patch.txt](https://github.com/containers/ansible-podman-collect

[2021-09-01 10:52] sshnaidm commented on #205
@dmc5179 can you submit a PR with this patch? If not, I'll prepare from it.

[2021-09-01 12:36] dmc5179 commented on #205
@sshnaidm Sure, I'll submit a PR today.

[2021-09-01 13:56] dmc5179 commented on #205
PR submitted https://github.com/containers/ansible-podman-collections/pull/294

[2021-09-01 16:25] ocafebabe commented on #205
@dmc5179 I see that your patch uses the "docker-archive" transport mode (which is logic), but what about "dir", what's the use case?

[2021-09-03 11:49] dmc5179 commented on #205
@ocafebabe I was focused on the docker-archive transport in my use case but looking at the code again, there doesn't appear to be anything that handles the dir or oci-dir transports. I can take a look at adding that to the module. It shouldn't be that complicated. I'll add that and the tests to this PR

[2021-09-03 14:43] ocafebabe commented on #205
@dmc5179 thanks mate, can't wait to test out your patch!

[2021-09-04 01:44] dmc5179 commented on #205
The more I look at this module the more dreadful it is to untangle.

- The task supports a transport called "dir" there is no transport called dir with podman. It's either docker-dir or oci-dir. I could go with the standard that everything is moving to, oci-dir, but that might not be what everyone wants. It almost makes more sense to fix the task parameter to support "oci-dir" and implement "dir"

[2021-09-04 09:17] sshnaidm commented on #285
@sean-m-sullivan any progress on it?

[2021-09-04 16:14] sshnaidm commented on #205
@dmc5179 thanks for the investigation.
according to `man 5 containers-transports` from [podman-push help page](https://docs.podman.io/en/latest/markdown/podman-push.1.html), I can see that supported args are:
[code]
by default it's `docker://`.
`oci-dir` and `docker-dir` are options for [`podman-save`](https://docs.podman.io/en/latest/markdown/podman-save.1.html) command which saves image to tar.

[2021-09-05 23:42] #144 closed

[2021-09-07 02:46] dmc5179 commented on #205
For me the question is, why is there a podman save and a podman push command? The man pages sure make it seem like podman push includes everything that podman save can do.

We're probably getting to the initial challege someone had implementing this ansible module due to the overlap. Much as it might seem easier to split them into 2 modules, if we put the tar producing transports into the save mod

[2021-09-08 12:13] rhatdan commented on #205
Podman CLI is based on Docker CLI, which has a docker save command. Podman push, supports the same mechanisms as docker push, but also has support for additional transports that docker push does not support.  One of these transports happens to be the docker-archive (Same as docker save and Podman save.)

[2021-09-08 12:29] sshnaidm commented on #205
@dmc5179 I try to keep modules params close to [`docker` modules](https://docs.ansible.com/ansible/latest/collections/community/docker/index.html) ones, so people can easily move their playbooks to use `podman`.
As I see in [`docker_image`](https://docs.ansible.com/ansible/latest/collections/community/docker/docker_image_module.html#parameter-archive_path) module there is parameter `archive_path`

[2021-09-08 18:21] ocafebabe commented on #205
@sshnaidm I've just upgraded to 1.7.1 to test the new podman_save module but it doesn't work:

[code]

[2021-09-10 02:43] dmc5179 commented on #205
@ocafebabe I think @sshnaidm just created that module. I don't think any work has been merged into it and I doubt anything from it has been merged into the actual containers.podman collection yet.

[2021-09-10 02:49] dmc5179 commented on #205
@rhatdan I think what I was try to get at was that there seems to be almost complete overlap in functionality between the CLI podman push and podman save. Meaning that podman push can do anything that podman save can do. At least that's what I get from reading the man pages. If my reading is correct then I don't think that we should create another Ansible module for podman save. Probably going to

[2021-09-10 04:26] ocafebabe commented on #205
@dmc5179 Yes I agree, but could we please all focus on making this feature work as expected?

[2021-09-10 04:58] dmc5179 commented on #205
@ocafebabe Yep, that's what I'm working on. Funny enough I think it all boils down to this one line:
[code]

[2021-09-10 05:34] dmc5179 commented on #205
@sshnaidm I updated the PR to simplify the change down to inverting the regex pattern on when to include the options. I also added in a could of tests. Let me know if I need to change something or if the PR can be merged. Thank you.

[2021-09-10 09:43] sshnaidm commented on #205
@ocafebabe I didn't release it yet, you can try it by installing from git:: `ansible-galaxy collection install git+https://github.com/containers/ansible-podman-collections`. I'd like to wait for all fixes and release it hopefully this weekend.
@dmc5179 I've already created `podman_save` and `podman_load`, I think duplication is not so big issue. If it exists in podman commands, it can exists in mo

[2021-09-10 15:50] ocafebabe commented on #205
@dmc5179 @sshnaidm thanks a lot guys and let me know if you need help to test this!

[2021-09-14 23:44] #18 closed

[2021-09-16 15:36] 0b11stan opened #300 "Support rootfull pods from inside"
/kind feature

To my knowledge it is not possible to join a rootfull container (container created with sudo). It would be nice to be able to do so.
I propose adding an `ansible_podman_rootless` flag which is `false` by default but can be set to `true` to enable a connection to a _"rootfull"_ pod.
The host sudo password may be asked via the `--ask-pass` argument.

**Steps to reproduce the issue:**

[2021-09-17 22:32] spyderz42 opened #304 "command blocks have problems with spaces"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using podman_containers to set up a gitlab runner ran into a problem when trying to use spaces in the command block. There appears to be no way to escape the spaces as the python code splits on spaces without checking if they are in quotes.

**Steps to reproduce the issue:**

1. create a

[2021-09-17 23:18] sshnaidm commented on #304
Please provide a full task that reproduces the problem, it's unclear what is going on. Do not ignore the issue template, it asks for an essential information, try to fill it up. Not everyone is familiar with gitlab runner.

[2021-09-17 23:20] sshnaidm commented on #300
TBH I don't think it's possible to inject `sudo` password into rootless connection, but I'll take a look.

[2021-09-18 01:39] spyderz42 commented on #304
[code]

[2021-09-18 02:06] spyderz42 commented on #304
The problem is with the --description line. It has spaces in it, and by the time it gets into the container to be run, it no longer has quotes around it. This works fine with the docker_container module.

[2021-09-18 09:08] sshnaidm commented on #304
I see you have two quotes in the end:
`"{{ item.group }} - {{ gitlab_runner_description }}""` - is it a problem?
Please paste a full log with running it, with `-vv`.

[2021-09-18 18:05] spyderz42 commented on #304
Copy and paste clean up typo. What specifically do you need to see from the log? They are large and time consuming to scrub.

[2021-09-18 20:26] sean-m-sullivan commented on #285
Sorry, I went on vacation, and then got caught up in prep for ansible-fest, but have run your branch and got the journalctl

[code]

[2021-09-18 21:33] sshnaidm commented on #304
The output from task which starts the container should contain `container`, `podman_actions` data. Can you paste it?

[2021-09-19 10:57] sshnaidm commented on #304
If no output please add `debug: true` for task and search in journal logs for lines with `PODMAN-CONTAINER-DEBUG`, and find those that have `podman run` in them. It's a problem with shell quotes for sure.

[2021-09-20 08:24] 0b11stan commented on #300
Well, I am trying something inspired from [the state machine in ssh connection](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/ssh.py#L928)

[2021-09-20 13:38] 0b11stan commented on #300
I have the following patch as a proof of concept but of course, the "mount" step is failing as python as no write to read on the mount point on the file system. However, it shows that we can use the `ansible_pass` from the `ansible-playbook -k` argument to log into our pods using `sudo podman`.

[code]

[2021-09-21 22:56] jadkik opened #308 "Add support for network aliases"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

None of the modules in this collection have support for network aliases. It seems like a feature that was (relatively) recently added to podman: https://github.com/containers/podman/issues/4530#issuecomment-724935712

It would be cool to support this in one of those ways:

- Support for t

[2021-09-22 05:28] anthr76 opened #309 "Generate systemd does not append `.service` to unit files"
Use something like

[code]

Observe that the generated systemd script will go to `/home/1000/.config/system/user/foo.service/container-minio` Where it should really be `/home/1000/.config/system/user/foo.service`

[2021-09-22 08:46] sshnaidm commented on #309
I'll add ".service" for files, but `path` is a directory, not a filename. The filename is taken from systemd data.

[2021-09-22 12:30] sshnaidm commented on #308
That looks interesting. Would you like to make a patch? :)

[2021-09-23 06:50] #309 closed

[2021-09-29 22:18] jadkik commented on #308
I'll try to make a patch :) Not sure how to make it idempotent, run in check mode, etc.

Will mention it here when the patch is ready. I'll be doing this in my free time so it might take some time.

[2021-09-30 09:01] RobVerduijn commented on #172
I second this request,

Currently you have to be really persistent/desperate to even consider using the podman/buildah connection type.

Even after using ansible for some years now for all kinds ( vmware/network/fortios/cisco ) the only obvious thing I saw is that every last one of them has it's own interpretation on how to use a connection plugin and that each one of them (including yours) requir

[2021-09-30 09:45] sshnaidm commented on #308
@jadkik let's start from non-idempotent and without check mode, that's fine to add it later.

[2021-10-01 21:34] jadkik commented on #308
@sshnaidm I got this draft PR: https://github.com/containers/ansible-podman-collections/pull/314

It works on my own machine but I didn't manage to run the tests locally and CI won't run without approvals. Not sure if I understand how the testing setup works.

Also I only added a test for the "rootful" network scenario because it's the only one which seems to create a network separately before cre

[2021-10-03 15:39] sshnaidm commented on #285
@sean-m-sullivan cool, great that it worked. Probably it's a good idea to add this kind of warning.

[2021-10-03 15:49] sshnaidm commented on #304
Please feel free to reopen when you have reproducing and required info.

[2021-10-03 15:49] #304 closed

[2021-10-03 19:18] #308 closed

[2021-10-08 09:16] jensrudolf opened #316 "Idempotency: podman_secret tries to create existing secret"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Create secret with podman_secret module via Ansible task (e.g. in Playbook)

2. Run the same Ansible task again (no modification to module parameters)

**Describe the results you received:**
Ansible tasks fails with
fatal: [localhost]: FAILED! => {"change

[2021-10-08 10:38] sshnaidm commented on #316
For recreating a secret please use `force: true` in the task, currently it's `false` by default.
https://github.com/containers/ansible-podman-collections/blob/15cd7623afbd07a6bfe564758e09c9a65da30507/plugins/modules/podman_secret.py#L31-L35

[2021-10-08 15:40] zephyros-dev opened #317 "Update documentation for generate_systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Currently generate_systemd configuration documentation on ansible site [here](https://docs.ansible.com/ansible/latest/collections/containers/podman/podman_container_module.html#parameter-generate_systemd/file) has a **file** options which specify the location of the generated systemd file. I

[2021-10-08 22:12] sshnaidm commented on #316
@jensrudolf we can't implement idempotency here because you can't know what is the secret data. Otherwise secret wouldn't be a secret :smiley:

Yeah, I think it would be reasonable to add a parameter which will ignore task if secret with such name already exists. But I don't want to make it default behavior, it may lead to confusing.
What do you think the best name for this option? `ignore_existin

[2021-10-08 22:16] sshnaidm commented on #317
Unfortunately there is nothing to do but wait. Ansible docs will be updated in their schedule. If you want to use latest docs, you can use the `devel` version: https://docs.ansible.com/ansible/devel/collections/containers/podman/podman_container_module.html#parameter-generate_systemd/path

[2021-10-08 22:17] #317 closed, assigned to nobody

[2021-10-09 03:12] zephyros-dev opened #318 "--new options for generate_systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman generate systemd command has a [--new flag](https://docs.podman.io/en/latest/markdown/podman-generate-systemd.1.html#new) that allow the systemd to run the container from scratch instead of running an existing container. I use this feature mainly for the integration with [podman au

[2021-10-09 04:49] zephyros-dev opened #319 "Allow empty string for container_prefix, pod_prefix and separator in generate_systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The podman generate systemd command allow using empty string in its parameter. I haven't found the same way to do it in the generate_systemd options

**Steps to reproduce the issue:**

1. Run some playbook like this:
[code]

**Describe the results you received:**

The service file is crea

[2021-10-10 06:23] dsedivec opened #320 ""TypeError: NoneType is not iterable" when exposed port is not published"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Getting `TypeError: NoneType is not iterable` exception using `podman_container`.

**Steps to reproduce the issue:**

1. Use `podman_container` against up-to-date Fedora 34 with a running container having a `Dockerfile` that exposes ports which are not published

**Describe the results you re

[2021-10-10 08:34] zephyros-dev commented on #320
I also met with the same error yesterday, but in my case it was the tag of the container that cause it. Here's how to reproduce:
1. Run a container with a number tagging, something like:
[code]
2. It run normally the first time, but if you try to run it the 2nd time it would throw out the exact same error.
3. Setting the state to **absent** can still remove the running container
4. Rerun the above

[2021-10-11 17:17] sean-m-sullivan opened #322 "Execution enviroment for the collection to run on"
/kind feature

**Description**
Create an Execution environment that this collection can run on. Base idea is to get the functionality of  [quay.io/repository/podman/stable](quay.io/repository/podman/stable), as an execution environment. Whether that is using the base execution environment image and building on that, or taking the podman image and building the execution environment builds into it.

[2021-10-11 20:38] #319 closed

[2021-10-11 20:53] sshnaidm commented on #320
I see, this is a regression with Podman 3.4.0. With lower versions it works fine. Will submit an issue there.

[2021-10-11 23:19] sshnaidm commented on #316
I've ended up with `skip_existing`, hope it's fine, less underscores.

[2021-10-12 10:56] #316 closed, assigned to nobody

[2021-10-21 00:49] ocafebabe commented on #205
@sshnaidm what's the status on this?

[2021-10-27 21:29] ocafebabe opened #328 "Podman tag is missing?"
Hi,

Is there a way to create a tag for an existing image?

[code]

I had a look at the existing modules and I didn't see a dedicated one for tagging purposes...

[2021-10-30 19:01] Tronde opened #329 "Parameter ports is missing in parameter section of podman_pod_module.html"
/kind bug

**Description**

The documentation shows an example, using the parameter 'ports'. This parameter is not mentioned in the parameter section.

Please add the parameter with a description to the section.

[2021-10-31 11:51] sshnaidm commented on #329
Parameter `ports` is an alias to parameter `publish`:

https://github.com/containers/ansible-podman-collections/blob/a0377fbd240f39d35c8b833b1f961c61b445fc1b/plugins/modules/podman_container.py#L608-L620

[2021-10-31 11:51] #329 closed

[2021-11-01 10:27] wabuMike opened #330 "podman_secret adds \n to secret"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The plugin containers.podman.podman_secret adds a newline (\n) to secrets provided with the parameter `data`.

**Steps to reproduce the issue:**

1. Add a task creating a secret with `podman secret`:

[code]

2. Add another task creating a secret with `containers.podman.podman_secret`:

[code

[2021-11-06 23:45] sshnaidm commented on #330
Fixed by https://github.com/containers/ansible-podman-collections/pull/331

[2021-11-06 23:45] #330 closed

[2021-11-14 09:23] lbeltrame commented on #318
It's more a bug than a feature, at this point. If you specify `rm` to generate new containers at each run and you couple it with `generate_systemd`, you'll get wrong units generated, which will not behave as expected if started.

[2021-11-16 13:57] zephyros-dev commented on #318
@sshnaidm for the use case of --new flag you can check my original feature request. For the remove options, I think by the description @lbeltrame it sounds closer to recreate. Or maybe it's auto_remove?
For the interaction with podman, the --new systemd file will create a completely new container with identical settings if you do not specify the container name ([Reference in podman documentation](

[2021-11-16 14:02] sshnaidm commented on #318
@lbeltrame @zephyros-dev that's what concerns me, do you have an example task and desired output? I don't understand what is expected from `--new` option in the current `podman_container` module. It seems like an option for a separate `podman_systemd_generate` module or whatever it's called. Maybe we need this one instead?

[2021-11-16 14:43] zephyros-dev commented on #318
For example, say I have a container like this:
[code]
My expected output would be: When I specify the new options in generate_systemd, it would run the container and create the systemd file. Idempotent wise, when I rerun the playbook with the same settings, I would expect it not to change, along with the systemd file.
I do think that it's a bit problematic if I change the state into absent after t

[2021-11-16 22:41] lbeltrame commented on #318
I meant `rm`, sorry. What I noticed is that I set my containers to remove after closing (to use podman's auto update image feature), but then the generated systemd units failed to start / restart, because they assumed the container would be there (and instead it was not, because it was removed after stopping).

[2021-11-18 10:56] sshnaidm commented on #318
FWIW it's not breaking anything, I'm still confused what are use cases, but if it helps you - I'm totally fine to merge it. The only thing I'd add - it's tests, probably it can shed some light on its usage.
Fell free to add another PR with tests or/and examples.

[2021-11-18 12:28] pookey opened #335 "generate_systemd does not generate systemd when path is not set"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This is a documentation issue where the default behaviour is ambiguous.

**Steps to reproduce the issue:**

1. set generate_systemd, but exclude path.

**Describe the results you received:**

no action.

**Describe the results you expected:**

Either documentation should make it clear that sy

[2021-11-18 12:35] #318 closed

[2021-11-18 14:39] zephyros-dev commented on #335
Where the systemd lies depends on whether you want to run the service as user (~/.config/systemd/user/) or as system (/etc/systemd/system/), so I think this should be left to the user to decide where they want to put their systemd file. I do think the doc could be clearer on this matter though. I'm planning on updating the doc elsewhere too so I'll add this one.

[2021-11-18 14:40] pookey commented on #335
I agree on all of your points :)

Thanks!

[2021-11-18 23:30] pschiffe opened #337 "AttributeError: module 'signal' has no attribute 'SIGRTMAX'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Latest (1.8.2) version doesn't work on macOS, example code:
[code]
fails with `AttributeError: module 'signal' has no attribute 'SIGRTMAX'`

Target is VM with CentOS 8.5. Ansible is running on macOS 11 with Intel CPU.

Version 1.8.1 is working fine for me. Problem was probably introduced with

[2021-11-19 14:04] #335 closed

[2021-11-20 17:48] sshnaidm commented on #337
@pschiffe closing this issue since #338 was merged, please feel free to reopen if the problem persists.

[2021-11-20 17:48] #337 closed

[2021-11-24 11:41] StopMotionCuber opened #339 "Generating systemd does not affect "changed" state"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When generating the systemd file with `podman_container`, it may change the systemd file, but the task does not reflect the changed state.

**Steps to reproduce the issue:**

1. Run playbook to create container with `generate-systemd` enabled on target machine through `podman_container`

2. D

[2021-11-25 21:58] ocafebabe opened #342 "Unable to run sanity tests"
/kind bug

**Description**

It's still unclear to me if I'm doing something wrong but I'm unable to launch the sanity tests using ansible-test.

**Steps to reproduce the issue:**

1. podman pull continuumio/miniconda3
2. podman run -it --rm continuumio/miniconda3 /bin/bash
3. pip install ansible-test
4. git clone https://github.com/containers/ansible-podman-collections.git
5. cd ansible-podman-col

[2021-11-26 10:19] sshnaidm commented on #342
You can look in CI code: https://github.com/sshnaidm/ansible-podman-collections/blob/master/.github/workflows/collection-continuous-integration.yml#L97-L105

To run it you need firstly to install collection somewhere, then go to this directory and run ansible-test there.

[code]

[2021-11-26 14:34] zephyros-dev opened #345 "Rerunning container playbook with --new option in generate_systemd results in failure if the service is started"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Rerunning container playbook with --new option in generate_systemd results in failure if the service is started.

**Steps to reproduce the issue:**

1. Run a playbook with --new options in generate systemd and enable the systemd afterward
[code]
2. The first run will work normally

**Describe

[2021-11-26 18:33] ocafebabe commented on #342
The collection has already been installed (as shown in step 4 of my test), so that's not the issue here...

I think that the origin of the error is coming from the **ansible-test** version: on Ubuntu 20.04, this module isn't provided by the official ansible package so I need to install it using pip which clearly shows that this package is yanked:

[code]

I also looked at the CI code and it seems

[2021-11-28 16:02] #328 closed

[2021-12-04 00:11] grrvs opened #350 "toggling ansible task when creating rootless network with 'internal: true'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Parameter `internal: true` appears to break idempotency in rootless networks.

**Steps to reproduce the issue:**
1. use *containers.podman.podman_network* to create a network with `internal: true`
2. run ansible playbook more than once

**Describe the results you received:**
The network gets r

[2021-12-06 02:12] Nothing4You opened #352 "Provide podman_prune module"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

This was already briefly mentioned in https://github.com/containers/ansible-podman-collections/discussions/307#discussioncomment-1375590, however, there isn't an official feature request for this until now.

Similar to `docker_prune`, this would allow removing various items, such as unuse

[2021-12-07 13:45] amenzhinsky opened #353 "podman_container is not idemponent"
ansible 5.0.1
podman 3.4.2

I use a very simple task to create a container, the first run successfully creates it and the second produces changes that are not expected:

[code]

Logging configuration after both runs remain the same:
[code]

My current workaround is `log_driver: journald`

[2021-12-08 17:53] sshnaidm commented on #353
it was fixed in #340

[2021-12-08 17:53] #353 closed

[2021-12-09 13:20] FilBot3 commented on #172
I imagine that the podman connection plugin operates like the docker one. It probably will require the socket to be enabled, and then Ansible can connect to it.

* https://stackoverflow.com/a/64218043

[2021-12-10 11:25] mybigman opened #354 "container always recreated"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Container is always recreated

**Steps to reproduce the issue:**

1.
[code]
2.
Run it

3.
Run it again

**Describe the results you received:**
Container recreated

**Describe the results you expected:**
No changes

**Additional information you deem important (e.g. issue happens only occasional

[2021-12-10 12:48] sshnaidm commented on #354
It should be solved by https://github.com/containers/ansible-podman-collections/pull/323, please try the last 1.9.0 version of collection.

[2021-12-10 12:48] #354 closed

[2021-12-14 12:51] smessmer opened #355 "podman_container: mount breaks idempotency"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using the `mount` parameter for `podman_container`, the container gets recreated on every run even when there were no changes.

**Steps to reproduce the issue:**

The following runs fine and doesn't re-create the container if it already exists:

[code]

But the following re-creates the c

[2021-12-25 20:02] smessmer opened #356 "podman_container: device breaks idempotency"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman_container with `device` keys aren't idempotent

**Steps to reproduce the issue:**

This rule isn't idempotent:
[code]

But this rule is:
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version of the `containers.podman` collection:**
**E

[2021-12-26 17:16] gotmax23 opened #357 "[`podman_image` Feature Request] Allow removing image with image id"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I would like to be able to delete an image by its UID using the `podman_image` module.

**Steps to reproduce the issue:**

1. Pull an image

2. Attempt to remove an image using `-m podman_image`, `-a state=absent` and pass a container id instead of an image tag to `name`

**Describe the r

[2021-12-28 15:33] jooola commented on #345
I am facing a similar issue but running a third time does not fix the problem and the workaround isn't working for me.
On my side, the container is running and has the right name.

[code]

[code]

[code]

[2021-12-28 15:52] jooola commented on #345
I am really not sure if my problem has something to do with this issue.

Still after some digging around, I noticed that the container could not be removed because systemd was automatically spinning it up once the service got stopped by the podman_container module. After stopping the service by hand and running the playbook again, everything worked as expected.

So I am unsure if this is a bug, or

[2022-01-01 21:08] theEndBeta opened #360 "podman 3.4.2 disallows `--userns` and `--pod` together on containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

As of podman 3.4,

At the same time, it seems that using the `--userns` and `--pod` flags on a container at the same time (which used to be how this was done).

As the `podman_pod` ansible module does not support `userns` as an option, using `userns` with containers in a pod is not possible (

[2022-01-02 01:30] theEndBeta commented on #360
As a workaround, the environment variable `PODMAN_USERNS` can be set on the pod creation task:

[code]

[2022-01-02 14:29] sshnaidm commented on #360
The error `--userns and --pod cannot be set together` comes from `podman`, just try to run it:
`podman run --name photostructure-photostructure --pod photostructure --init --userns keep-id --user $USER:$USER --env PS_LOG_LEVEL=error --label app=photostructure --detach=True alpine photostructure/server:stable`
Required options should be added to `pod` module, seems like [a lot of them](https://docs

[2022-01-04 20:17] schmidthausen opened #362 "Add type: mount|env options to --secrets."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

n/a

**Describe the results you received:**
n/a

**Describe the results you expected:**
n/a

**Additional information you deem important (e.g. issue happens only occasionally):**
n/a

**Version of the `containers.podman` collection:**
**Either git commit

[2022-01-04 20:20] schmidthausen commented on #362
Secret Options
    type=mount|env : How the secret will be exposed to the container. Default mount.
    target=target : Target of secret. Defaults to secret name.
    uid=0 : UID of secret. Defaults to 0. Mount secret type only.
    gid=0 : GID of secret. Defaults to 0. Mount secret type only.
    mode=0 : Mode of secret. Defaults to 0444. Mount secret type only.

[2022-01-05 13:12] sshnaidm commented on #362
@amenzhinsky hey, would you like to look into this?

[2022-01-05 13:15] amenzhinsky commented on #362
@sshnaidm can do later this weak

[2022-01-06 08:38] amenzhinsky commented on #362
This is already possible:
[code]
As an enhancement `secrets` could accept list of strings or dicts, like:
[code]
Not sure if it's really worth it.

[2022-01-06 09:29] rdrazny opened #364 "podman_login handles tlsverify incorrectly"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When setting the `tlsverify`  option to `False` for a `containers.podman.podman_login` task, the task fails with a python traceback.

**Steps to reproduce the issue:**

1. Create an Ansible playbook with a `containers.podman.podman_login` containing `tlsverify: No`

2. Run the playbook

**Des

[2022-01-06 13:04] sshnaidm commented on #364
@rdrazny would you like to make a patch?

[2022-01-06 13:05] sshnaidm commented on #362
@schmidthausen does it seem ok for you?

[2022-01-06 14:05] rdrazny commented on #364
Opened a PR #365

[2022-01-06 14:56] sshnaidm commented on #360
@theEndBeta can you please try PR #361 and see if it helps?

[2022-01-07 14:17] schmidthausen commented on #362
On Thursday, January 6, 2022 5:05:37 A.M. PST Sergey wrote:

Yes, this is great! I was reading the docs incorrectly. I got this to work,
thank you for the response.

[2022-01-08 18:54] theEndBeta commented on #360
Thanks a bunch @sshnaidm! #361 solves my issue.

[2022-01-10 03:15] 31239899 commented on #345
I'm seeing the same error. I think this is happening because the module is removing the container on each run, even when nothing changes. Running the task with `ansible-playbook --check --diff` shows the following on every single run after the first.
[code]
Running without check mode does indeed remove the container. systemd sees that the unit has failed and runs the `ExecStop` command (`podman rm

[2022-01-10 12:56] sshnaidm commented on #345
I don't think it's module that removes the container, probably it's a systemd action. I still don't understand the purpose of `--new` in context of podman ansible module and what is its usage.

[2022-01-10 13:36] 31239899 commented on #345
Please note these two lines from my system logs above:
[code]
And also the `--diff --check` output:
[code]
Either the module is removing the container or it is outputting incorrect information.

Using `--new` removes the container when the service is stopped and recreates it when the service is started. Among other things, this allows one to use `podman auto-update` to pull down the latest images

[2022-01-10 13:52] sshnaidm commented on #345
@31239899 I see, that's the podman_container module removes the container - but it does everything right, because container is created different, with `--rm`:
`+ExecStart=/usr/bin/podman container run --cidfile=%t/%n.ctr-id --sdnotify=conmon --cgroups=no-conmon --rm -d --replace --name vaultwarden --healthcheck-command /healthcheck.sh --healthcheck-interval 60s --healthcheck-timeout 10s --http-pro

[2022-01-10 13:53] sshnaidm commented on #364
fixed by https://github.com/containers/ansible-podman-collections/pull/365

[2022-01-10 13:53] #364 closed

[2022-01-10 13:54] sshnaidm commented on #362
Fixed by #363

[2022-01-10 13:54] #362 closed

[2022-01-10 14:39] 31239899 commented on #345
@sshnaidm Thank you for pointing that out. Adding `rm: true` fixes the issue I had of recreating the container on every run. I don't find that behavior intuitive, but now that I know I can adjust accordingly. :) May I suggest that when `new=True`, `rm` should also be toggled to `True`, since that is the primary change with `podman generate systemd --new`? Or at least some documentation for `new` i

[2022-01-10 14:52] sshnaidm commented on #345
Yes, it's totally possible. Although seems like ansible module and systemd will still have conflict in container management here. I'm open to suggestions what can be done here to make this work smoothly. If container management will be by systemd, probably we need only to `create` containers w/o running them?

[2022-01-10 17:01] 31239899 commented on #345
I agree there's a conflict. I was hoping someone else would see a simple solution, but I couldn't come up with anything immediately. When `generate_systemd.new==False`, we'd need to create the container so systemd can start/stop it. But if `generate_systemd.new==True`, then I think it makes sense to only define the service file because systemd is now responsible for container creation on service s

[2022-01-10 17:10] jeefberkey commented on #345
Maybe it's time for a new module? `container.podman.podman_systemd_container` that will make all of these assumptions already.

[2022-01-13 13:10] #360 closed

[2022-01-14 16:57] lolllpop opened #367 "Using slirp4nets options breaks idempotency for pods"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using slirp4nets for pods is braking idempotency. This is similar to #184, which was about slirp4nets for containers only.

**Steps to reproduce the issue:**

1. Create pod using podman_pod and supply network mode with additional options

2. Create container belonging to that pod using podman

[2022-01-15 16:58] exploide opened #368 "`generate_systemd` doesn't work for pod with user namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When creating a pod with a user namespace and assigning a container to it, the generation of systemd unit files doesn't work correctly.

**Steps to reproduce the issue:**

1. Run the following Ansible tasks (as root) that create a pod with a user namespace (`uidmap` and `gidmap`), assign a Ma

[2022-01-16 17:41] sshnaidm commented on #368
I think it's related to `--new` option issue in https://github.com/containers/ansible-podman-collections/issues/345

[2022-01-16 21:44] #367 closed

[2022-01-17 14:55] lolllpop commented on #367
Many thanks for this quick fix!

[2022-01-20 16:31] lolllpop opened #370 "Removal of container/pod arguments not detected as difference in task re-runs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Once set, module arguments cannot be removed from containers/pods in later task re-runs.

**Steps to reproduce the issue:**

1. Create container with e.g. hostname set

2. Recreate container without the hostname argument

**Describe the results you received:**

The container is not recreated

[2022-01-24 11:11] sshnaidm commented on #370
Unfortunately there is no way to guess if the hostname is generated automatically by podman or given by user. I don't think it's fixable, probably worth to mention in docs.

[2022-01-26 09:41] Andersson007 opened #371 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-31 15:55] rmsc opened #372 "Trailing slash in volume path causes container to always be recreated"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If a container is **created** with a trailing slash on the internal volume path, it's always recreated in the following runs.

The trailing slash only seems to cause problems on the `CONTAINER-DIR`. This is fine:
[code]

While this is not - the container will always be recreated in subsequent

[2022-02-16 07:21] rubiksdot opened #373 "podman_container always recreates my container even if mac_address config does not change"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Rerunning containers.podman.podman_container with the same settings as used to create the container causes the running container to be stopped, removed and recreated because it thinks that the mac_address has changed.

**Steps to reproduce the issue:**

1. Run containers.podman.podman_contain

[2022-02-16 22:33] szpak opened #374 "Add support for `--requires` (Podman 3.2.0+)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Add support for `--requires` added in Podman [3.2.0](https://github.com/containers/podman/pull/9754) in container configuration (`containers.podman.podman_container`).

**Version of the `containers.podman` collection:**
[code]

**Output of `ansible --version`:**

[code]

**Output of `podm

[2022-02-17 10:23] pdavid31 opened #375 "Volume options are being ignored"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

It seems like volume options (e.g. SELinux option `:z`) are ignored.

**Steps to reproduce the issue:**

1. Create rootless container that mounts directory in user home

2. Set volume to `<HOST_DIR>:<CONTAINER_DIR>:z`

**Describe the results you received:**

It seems like only default options

[2022-02-17 10:39] rubiksdot opened #376 "podman_container always recreates my container even if mount/volume config does not change"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Rerunning containers.podman.podman_container with the same settings as used to create the container causes the running container to be stopped, removed and recreated because it thinks that the mount/volume configuration has changed.

**Steps to reproduce the issue:**

1. Run containers.podman

[2022-02-17 10:43] sshnaidm commented on #373
The problem is that in state `present` container is `created`, but it's not running (to run it need the state `started`). When it's not running, it doesn't have MAC address actually. I'll try to get it from `CreateCommand` though, let's see if it works.

[2022-02-17 10:50] rubiksdot commented on #373
Hi,

Unless my memory is broken (I spent time over a fair few days on this between other things) I have tried:
* present
* created
* started
* started with systemd (this is where the issue initially crept up)
* started manually with podman run

It was because my started container was vanishing that I noticed this and began investigating.

Just tried it now:
[code]

The first MacAddress is the one

[2022-02-17 10:55] sshnaidm commented on #373
@rubiksdot oh, right, missed the network part. OK, I think this PR should solve it anyway.

[2022-02-17 11:11] rubiksdot commented on #373
Just gave it a quick test and it passes now so I think it's sorted.

Do these fields ever get filled and the CNI section not get filled, though? I've not found that to be the case but I'm only using podman 3.0.1 atm. Just wondering as to the utility of the function vs diffparam_network().

[2022-02-17 12:49] sshnaidm commented on #373
As it seems the first "MacAddress" in network settings will be filled only when starting container with default network and only as root: `sudo podman run -dit --rm --name fff0 --mac-address 44:44:44:44:22:ee alpine sleep 1h`
And even then it's reported in both sections. Probably it doesn't make sense to look for MAC in general network section.

[2022-02-17 13:36] sshnaidm commented on #375
How do you see it's ignored? Did you try to run the shell command?
Module does pass ":z" to podman CLI:

[code]
[code]
If it doesn't work for you in command line, then it's not the module issue.

[2022-02-17 13:37] sshnaidm commented on #372
Setting slashes in podman is a bad idea. Will try to strip them all.

[2022-02-17 14:13] sshnaidm commented on #376
Seems same as #355

[2022-02-17 14:23] sshnaidm commented on #356
As I see in rootless containers "Devices" section is empty when you run with `--devices /dev/fuse`. Although it works with root containers.
Are you sure mounting device works in rootless container?

[2022-02-17 15:12] bofillj opened #380 "Infra image breaks idempotency when trying to create a pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to create a container with the pause:3.2 image, the image name for the infra_image MUST be pause:3.2 otherwise the container will say changed and show that pause:3.2 is being removed with the new infra image. On a second run, the container's infra image would have changed back to

[2022-02-17 16:29] #372 closed

[2022-02-17 18:06] szpak commented on #374
Thanks for a quick fix.

[2022-02-17 18:17] #373 closed

[2022-02-17 21:36] szpak commented on #374
I tried to use it and it works fine, however, I've encountered a problem in a situation when I create a pod with two containers: app and db. app requires db. With `requires` I'm no longer able to recreate a db container as:

What is a recommended way to work with dependent containers with ansible-podman-collections?

[2022-02-18 08:26] pdavid31 commented on #375
Nevermind, I looked at the debugging output, where I did not see the option mentioned, but it is present in the actual command. Sorry for that.

[2022-02-18 08:26] #375 closed

[2022-02-22 10:59] lucab85 opened #382 "ansible_connection=podman and async poor performance"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hello,

When running the following playbook against a node with `ansible_connection=local` or `ansible_connection=ssh`, the async works as expected and perform well.

When running against a container, using `ansible_connection=podman` or `ansible_connection=docker` it took more time.

The ans

[2022-02-22 13:20] sshnaidm commented on #382
I think performance of `podman` connection can be improved, now it contains many hacks for various `podman` and `ansible` issues. Probably removing some of them and focusing on version 3 only would help to optimize the performance. But I'm not sure it will help so much as it's in local connection. Docker performance is out of scope here, but I wonder if both of connections have something in common

[2022-03-04 03:24] rubiksdot opened #383 "podman_container does not recreate the container if root image is changed from read-only to read-write"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Create container read-only
2. Comment out read-only: true
3. Attempt to recreate

**Describe the results you received:**

Read-only container remained.

**Describe the results you expected:**

Read-only container replaced with one whose root is read-write

[2022-03-04 14:18] rubiksdot opened #384 "podman_container does not recreate the container if image changes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I changed the CMD in Containerfile and had the image recreated. podman_container failed to detect this and, so, left the now stale container configured.

**Steps to reproduce the issue:**

1. Create image
2. Create container based on image
3. Change Containerfile and recreate image
4. Run ste

[2022-03-08 15:39] sshnaidm commented on #383
@rubiksdot can you please prepare a patch?

[2022-03-09 09:52] matancarmeli7 commented on #357
there is a plan for doing it? it's a feature that will help me too

[2022-03-09 19:43] Henry78 opened #387 "podman_container fails with `KeyError: exitcommand` if container exists"
/kind bug

**Description**

Yesterday I used the collecion `container.podman` the first time. But I failed immediately to create a container using `containers.podman.podman_container`. It looks like a bug to me, but as this happens in the most simple us case, I think there might be another issue.

**Steps to reproduce the issue:**

1. Create a playbook `redis.yml` (from collection's documentation)

[2022-03-09 22:38] rubiksdot commented on #383
Hope that I did this correctly. :)

[2022-03-10 08:23] lucab85 commented on #382
@sshnaidm I appreciate your message. This bug report is for `ansible_connection=podman`, I hope it could be added in the roadmap

[2022-03-10 14:42] pbrezina opened #389 "Failed to set execute bit on remote files"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I get this error message when using the podman connection plugin `ansible_connection: podman`

[code]

**Steps to reproduce the issue:**

It does not happen everytime, it also happens on different places and different hosts so I don't have any reproducer. I never got this error locally (so fa

[2022-03-10 15:29] sshnaidm commented on #389
Seems like problem with mounting by podman. Is it possible to catch this with `-vvvvv` (and maybe even `ANSIBLE_DEBUG=1`) ?

[2022-03-10 15:31] sshnaidm commented on #387
Thanks, it's related to `podman` version 4 compatibility. Will handle this. For now it works with podman version 3.

[2022-03-11 10:13] #387 closed

[2022-03-12 15:37] AckslD opened #391 "KeyError 'exitcommand'"
/kind bug

**Description**

I'm getting an error whenever running a podman module. See below.

**Steps to reproduce the issue:**

For example when running the playbook:
[code]

**Describe the results you received:**
When running a second time I get the error:
[code]

**Describe the results you expected:**
No error.

**Additional information you deem important (e.g. issue happens only occasionally)

[2022-03-12 16:26] AckslD commented on #391
Seems to be `--diff` that causes this, if I remove it the error does not occur

[2022-03-12 16:32] AckslD commented on #391
I also get similar errors for eg the network module where it crashes cause `'plugins'` is not in `self.info` of `PodmanNetworkDiff`.

[2022-03-12 17:43] AckslD commented on #391
Sorry seems to be duplicate of #387

But I think the issue with `'plugins'` for network is a separate issue.

[2022-03-12 18:18] AckslD commented on #391
Maybe I should have opened another issue for the second thing but anyway the changes in #392 fix it for me

[2022-03-14 11:41] #391 closed

[2022-03-15 12:35] sshnaidm commented on #389
@pbrezina can you please open an issue in [Ansible](https://github.com/ansible/ansible/issues) and to put a link to this issue here? Seems like it's more Ansible thing, let's see what they say.

[2022-03-16 01:13] Henry78 opened #394 "Pod: Can't publish containerPort <60"
/kind bug

**Description**

Trying to create a pod with containerPort <60 published fails with `Error: error parsing container port`

**Steps to reproduce the issue:**

1. Run playbook that creates a pod with a published port, where the containerPort is <60

**Describe the results you received:**
I receive the error below. Note, that the port in the error (`got 133343`) depends on the containerPor

[2022-03-16 11:08] pbrezina commented on #389
Hmm, it now happened again even without using `become`:

[code]

[2022-03-16 16:28] daynyxx opened #395 "pod: support for volumes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

With the release of podman 4.0 ```podman pod create``` now supports the [--volume](https://docs.podman.io/en/latest/markdown/podman-pod-create.1.html#volume-v-source-volume-host-dir-container-dir-options) option to allow volume mounts for whole pod at a time.

**Describe the results you e

[2022-03-17 12:19] pbrezina commented on #389
I managed to get a failure with ANSIBLE_DEBUG=1, log is attached

[failed.log](https://github.com/containers/ansible-podman-collections/files/8285276/failed.log)

Lookup `/var/lib/containers/storage/overlay-containers`

[2022-03-17 15:40] lucab85 opened #397 "podman_container volume Permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using the `podman_container` with a volume result on a `Permission denied` error on Red Hat-like distributions

**Steps to reproduce the issue:**

1. execute the Ansible Playbook to setup `httpd:latest` container

2. access the `webserver` container

3. see the "Permission denied" error

**De

[2022-03-17 22:10] pbrezina commented on #389
Reply from ansible team:

[2022-03-21 10:56] sshnaidm commented on #394
That's interesting catch. You usually should use quotes in this case:
[code]
because colon is reserved in YAML and it's interpreted as a plain scalar and something happens there that convert it to `133343`. I don't know what exactly, but better to use quotes anyway.

[2022-03-21 10:56] #394 closed

[2022-03-21 13:35] sshnaidm commented on #397
I don't think it's related to collection. Can you please try and run all this in command line? (By looking in `journalctl` you'll see what commands are running). Let's see if it's reproducible, if yes - need to open issue in [Podman repo.](https://github.com/containers/podman/issues)

[2022-03-21 13:38] sshnaidm commented on #389
Yeah, as expected. I'll look at connection optimization in scope of #382, maybe will help.

[2022-03-21 14:25] sshnaidm commented on #397
So the running command is here:
`Mar 21 13:55:37 demo.example.com ansible-containers.podman.podman_container[4809]: PODMAN-CONTAINER-DEBUG: podman run --name webserver --detach=True --expose 80 --volume /webroot/:/usr/local/apache2/htdocs/:exec --publish 8080:80 httpd
`
I'm not sure, but maybe it should be `container_t` for `webroot`. Anyway, try to mount with `:z` to skip selinux and see if it he

[2022-03-21 15:48] lucab85 commented on #397
With `container_t` for `webroot`, I was able to see the `index.html`.

In the playbook I substituted line 27 with:
[code]

[code]

[2022-03-21 16:48] sshnaidm commented on #397
OK, so problem is solved?

[2022-03-23 19:32] Henry78 commented on #394
I followed the examples in ansible-doc, so I suggest to add quotes there!

From `ansible-doc containers.podman.podman_pod`:

[code]

[2022-03-23 19:38] sshnaidm commented on #394
@Henry78 sure, good idea. Would you like to send a patch?

[2022-03-24 10:31] pbrezina commented on #389
I opened https://github.com/containers/podman/issues/13613 since I think it might be an issue in podman itself.

[2022-04-01 08:40] JM1 commented on #397
Glad you were able to solve it👍 Will close this issue now.

[2022-04-01 08:40] #397 closed

[2022-04-03 18:12] Aculeo opened #409 "Generated systemd unit files causing issues"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Ever since I introduced `generate_systemd` into my playbooks I had 2 pods fail on me after a reboot, they can no longer be started and I had to delete and recreate them.

This issue here reported on podman seems very relevant:
https://github.com/containers/podman/issues/3657

I think the solu

[2022-04-04 09:27] #383 closed

[2022-04-06 01:04] MasterWaldo opened #411 "podman_load failing on inspect when multiple images present in archive"
**Description**
Having multiple images in the archive file is causing the inspect step to fail due to 'invalid reference format'. It appears to be reading all the image names in as one long string.  `podman inspect` works with multiple images, but only if they are separated by whitespace

**Steps to reproduce the issue:**

1. Create a tarball archive with multiple images. Ex: `podman save -o image

[2022-04-06 01:05] MasterWaldo commented on #411
/kind bug

[2022-04-06 01:09] MasterWaldo commented on #411
I believe the issue is at line 156 in plugins/modules/podman_load.py.
`image_name = image_name_line.split(":", maxsplit=1)[1].strip()`

The podman output for a multiple image archive looks like this:
`Loaded image(s): localhost/redis:latest,docker.io/library/python:latest`
The line of code is splitting on the first colon and stopping, so the image list is treated as one string. If it is then split

[2022-04-06 08:40] sshnaidm commented on #411
@MasterWaldo would you like to submit a fix?

[2022-04-06 23:59] MasterWaldo commented on #411
Sure I can take a crack at it

[2022-04-08 13:56] sshnaidm commented on #411
@zyphermonkey are you using Python 2.7? It's error from py2.

[2022-04-13 14:49] zyphermonkey commented on #411
Yes we're currently use ansible tower on rhel7 and it's basically locked to python2.

[2022-04-13 14:54] sshnaidm commented on #411
@zyphermonkey OK, will look into it, please open a different issue for that.

[2022-04-15 10:51] MrSuicideParrot opened #414 "Inconsistent podman_container and podman_pod syntax - network attribute"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
The podman_container module has the attribute [network](https://docs.ansible.com/ansible/latest/collections/containers/podman/podman_container_module.html#parameter-network) as a list of strings. The podman_pod has the same attribute [network](https://docs.ansible.com/ansible/latest/collec

[2022-04-15 19:39] tcmal opened #415 "podman_play may crash if pod with same name already exists"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using `containers.podman.podman_play`, the module may crash if a pod with the same name already exists and the `yaml` module is not available.

**Steps to reproduce the issue:**

1. Use a target machine without the `yaml` python module, eg vagrant box `debian/bullseye64`

2. Create a pod

[2022-04-15 19:40] tcmal commented on #415
I believe [this line](https://github.com/containers/ansible-podman-collections/blob/master/plugins/modules/podman_play.py#L196) causes it, I think it needs to be `text.read()`

[2022-04-18 20:25] sshnaidm commented on #414
Sounds reasonable, would you like to send a patch?

[2022-04-18 20:26] sshnaidm commented on #415
@tcmal good catch! Would you like to send a patch with a fix?

[2022-04-19 10:06] MrSuicideParrot commented on #414
Yes, I can do it.

[2022-04-24 19:38] #411 closed

[2022-04-24 19:39] sshnaidm commented on #411
@zyphermonkey removed `maxplit` from there, should be ok for Python2 now.

[2022-04-24 23:15] #414 closed

[2022-04-25 10:10] sshnaidm commented on #384
In the second thought - did you try using `image_strict: true` parameter? I introduced it exactly for image ID comparing.
Something like:
[code]
Tell me please if it works for you

[2022-04-25 11:33] rerime opened #418 "Memory or memory_reservation breaks idempotency"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `memory: 512m` - breaks
2. `memory: 536870912` - normal
3. same with `memory_reservation`

**Describe the results you received:**
Always recreate container

**Describe the results you expected:**
Do not do anything in repetitive runs

**Additional informa

[2022-04-26 21:40] tcmal commented on #415
Have done. Sorry this took so long.

[2022-04-27 19:42] sshnaidm commented on #409
Is it still the issue? What can I do to reproduce it?
Currently we actually use `podman generate systemd` under the hood, not sure what we can do here. Open to ideas.

[2022-04-27 19:45] sshnaidm commented on #389
As I understand from the issue it should be solved by https://github.com/containers/podman/commit/a1e2897e92ff4b79a57d6ebbecd7c70de23b8977 . I don't think we can do something, just to watch if it happens after a release. For today it's only in `main` branch, so need to wait I suppose.

[2022-04-27 19:46] #389 closed

[2022-04-27 19:48] #370 closed

[2022-04-27 21:26] #418 closed

[2022-04-27 21:56] #350 closed

[2022-05-01 08:48] #415 closed

[2022-05-06 16:24] dmsimard opened #422 "Sanity tests failing in containers.podman"
##### SUMMARY
We are running sanity tests across every collection included in the Ansible community package (as part of [this issue](https://github.com/ansible-community/community-topics/issues/96)) and found that ``ansible-test sanity --docker`` against containers.podman 1.9.3 fails with ansible-core 2.13.0rc1 in ansible 6.0.0a2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
n/a

##### ANS

[2022-05-10 19:03] sshnaidm commented on #422
@dmsimard I'd like to use `setuptools` instead of `distutils` and I have errors when I run locally `ansible-test sanity --docker` with a new patch, like:
`ERROR: plugins/modules/podman_containers.py:51:0: traceback: ImportError: No module named 'setuptools' (at plugins/module_utils/podman/podman_container_lib.py:4:0)`
How can I solve it?

[2022-05-12 11:23] quulah commented on #384
I think I'm seeing the same issue. `image_strict` didn't seem to help.

[2022-05-12 11:28] sshnaidm commented on #384
@quulah can you please provide a simple reproduce steps with `image_strict`? Thanks!

[2022-05-12 11:43] quulah commented on #384
[code]

This leads to the same problem at least. I do have some systemd config and such in addition to those, but cleaned it up.

The result run looks like:

[code]

I do have the same older Podman version `3.0.1` as this issue's creator. I wonder if that has something to do with this.

I was using `1.9.3` of the collection when I first saw this, but downgraded to `1.9.1` as I have run this elsewh

[2022-05-12 11:45] quulah commented on #384
I intend to run these without root, but tested that as well just to see if it works differently. Same result.

[2022-05-12 12:58] rubiksdot commented on #384
Thanks for testing. I've not had time IRL to poke this (my own fix has not presented any issues so I'm just rolling with it as I do work) and wont for a wee while yet.

[2022-05-13 05:32] quulah commented on #384
Apparently the systemd unit file content is not being created if `no_header` is set to `true`.

Probably not related to this, but something funky is going on. :)

[2022-05-13 07:00] sshnaidm commented on #384
@quulah can you please paste `podman image inspect docker.io/grafana/grafana` and `podman image inspect docker.io/grafana/grafana:8.5.2`?
Maybe worth to repeat without using systemd to narrow the issue.

[2022-05-13 11:03] rerime commented on #418
But it is not fix a bug. I guess problem in conversion numbers inside python.

[2022-05-13 13:33] nodje opened #426 "Shouldn't containers.podman.podman_login be idempotent?"
Using the default molecule scenario which include an idempotency test, which checks that every task of a role returns change=false on a second run, I noticed that containers.podman.podman_login was returning change=true, even the auth.json file was already existing with the same credentials.

There might be reasons why the actual behavior is expected, but as far as I'm concerned with my usage it'd

[2022-05-14 08:11] sshnaidm commented on #426
If it's only question of comparing old and new `auth.json`, I think it should be possible to do.

[2022-05-14 09:22] nodje commented on #426
To me the question really is: is the module podman_login idempotent ? (I assume all modules strive to be idempotent)
If not, what makes it idempotent? --> probably: if a login already occurred with a credential, it shouldn't try to login again and should return change status to false

[2022-05-14 13:42] sshnaidm commented on #426
As far as I can say it's not idempotent now. I agree we could improve and add idempotency. The question is: is same `auth.json` good enough to say we're logged in?
Or probably we can use same mechanism as in `podman_login_info` module, like here: https://github.com/containers/ansible-podman-collections/blob/20a982b564e725758505df917e437b83505e0fe2/plugins/modules/podman_login_info.py#L68

@clelang

[2022-05-14 13:46] sshnaidm commented on #418
Yes, it fixes unnecessary recreating of container, but doesn't solve idempotency. The problem is more converting "g", "m", and other to numbers and keeping weird dependencies between "memoryswap", "memory" and "memoryreservation" that podman has. If you want to do it, I'd very welcome the patch.

[2022-05-14 14:58] clelange commented on #426
In the [`podman login` docs](https://docs.podman.io/en/latest/markdown/podman-login.1.html) it says that the username+password combination is simply stored as base64 in the `auth.json` file, so having this file unchanged would imply that nothing has changed. Regarding the use of `podman_login_info`: The `podman login --get-login` command seems to only return the username, but doesn't actually chec

[2022-05-16 05:53] quulah commented on #384
@sshnaidm Yeah, I've been trying with the above example without `generate_systemd`.

But, this is probably working as expected! Or the ID of the image is indeed the same if that it what it compares to. Since `latest` is `8.5.2`.

So I've just tested badly, as I thought that it's just interested in the tag as usual. :)

[code]

This works:

[code]

And apparently it works even without `image_strict

[2022-05-16 06:19] quulah opened #427 "generate_systemd with no_header not creating systemd unit"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman_systemd` is empty in the `containers.podman.podman_container` output when `no_header: true`.

I initially commented about this in #384, but here's the separate issue.

Some similar issues: #368 #345

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[c

[2022-05-19 09:35] nkakouros opened #428 "Warning about improperly configured remote target"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running with latest ansible (devel branch), a warning shows on every task run using the podman connection plugin. I am using molecule

**Steps to reproduce the issue:**

1. Will provide if indeed needed

**Describe the results you received:**

[code]

**Describe the results you expected:

[2022-05-20 20:47] sebastien-coavoux opened #429 "Support of podman v4 network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Podman v4 has a new backend type and the output of podman network inspect is different than previously

Here is a snippet of
[code]

Right now when using containers.podman.podman_network module, it will try to recreate the podman network (which is forbidden in v4)
because the diff functio

[2022-05-26 08:05] sshnaidm commented on #429
I think we need still to support version 3.x because version 4 is not present on all systems.

[2022-05-27 11:35] dada513 opened #431 "generate_systemd: After= and more options"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

According to the [generate-systemd manpage](https://docs.podman.io/en/latest/markdown/podman-generate-systemd.1.html), the After= option can be specified to describe dependencies of a container.

According to [podman_container docs](https://docs.ansible.com/ansible/latest/collections/cont

[2022-06-01 05:30] nishipy commented on #357
Hi team, can I work on this issue? Thanks.

[2022-06-03 10:18] Aculeo commented on #409
It hasn't happened in a while now, I checked the source code and I don't think it's an Ansible issue at all, because as you said it uses podman commands under the hood. I'll just close this then and if it happens again, I'll open the bug on the podman side! Thanks

[2022-06-03 10:18] #409 closed

[2022-06-06 09:18] #426 closed

[2022-06-08 15:51] #357 closed

[2022-06-12 19:54] #422 closed

[2022-06-14 07:40] sshnaidm commented on #427
The problem is that podman `3.0.1` that you use doesn't support `--no-header` option. So generating fails.
Probably need to alert about it, but this versions is quite old

[2022-06-14 11:13] quulah commented on #427
Yup, Debian stable being very stable. :)

I have a fairly good workaround for this in place, so I'm okay leaving it as is.

If the warning is not too much hassle to add, then of course it'll save time from others.

[2022-06-14 14:43] brettinternet commented on #431
I recently switched to this module's `generate_systemd` option, and one of my services was unable to connect to a separate postgres container. Even after modifying the unit configuration file to include `Requires=db.service` and `After=db.service` I still had issues reconnecting on startup until I added `RestartSec=5` to give the database startup some breathing room. 🤷‍♂️

You may consider includi

[2022-06-15 17:18] MalikKillian opened #438 ""mount" parameter does not behave in an idempotent manner"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The podmain_container module essentially ignores `mount` values if a container is already started. This breaks idempotency.

**Steps to reproduce the issue:**

1. (Pre-requisites) A host must already exist that is setup to use podman Ansible modules.

2. Run `podman-bug.yml` playbook against

[2022-06-16 04:22] MalikKillian commented on #438
I'm guessing this is the function that is providing the bad diff - https://github.com/containers/ansible-podman-collections/blob/master/plugins/module_utils/podman/podman_container_lib.py#L1205

The list of volumes is being gathered from the `Mounts` property, which is probably the best way to do it. However, for the after values, it's only looking at the `volume` section, which could miss things

[2022-06-16 04:37] MalikKillian commented on #438
I also noticed an unexpected behavior that may or may not be considered a bug. I tried adding an entry using the `volume` section and it actually did not appear in the diff.

My new playbook:
[code]

Running this will actually yield the same diff message:
[code]

It looks like the extra volume isn't mentioned here because it is considered a "local volume" according to the code. I'm not a fan of th

[2022-06-18 06:44] the-maldridge opened #440 "podman_container does not recreate container when restart_policy is changed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Creating a container and subsequently adding a restart_policy to it (not via generate_systemd) does not result in the container being updated.

**Steps to reproduce the issue:**

1. Create a container without a restart_policy and apply the playbook.

2. Edit the playbook to now apply a restart

[2022-06-18 21:52] mgolisch commented on #356
having a similar  issue.
The container gets recreated everytime if i dont specify the in container path for the device:
--- before
+++ after
@@ -1 +1 @@
-devices - ['/dev/ttyACM0:/dev/ttyACM0']
+devices - ['/dev/ttyACM0']

[2022-06-23 03:49] 50U10FCA7 opened #441 "`generate_systemd` doesn't generates container's services without pod restarting"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`containers.podman.podman_pod.generate_systemd` doesn't generates container unit files without restarting the pod.

**Steps to reproduce the issue:**

1. Create a pod with container.
[code]

2.  Generate the unit files.
[code]

3. Check the directory where unit files are generated.

**Describ

[2022-06-26 10:42] misuto commented on #345
Sorry for reviving this issue. @31239899 Do you have any help you could give in regards to how this workaround could be used as a task? Can I replace the role parameters with variables, and if possible, how do I do that?

[2022-06-27 21:14] 31239899 commented on #345
@misuto, I'm not sure if I understand your question. Are you asking how to call the four tasks I included as a single task? You could put them in their own task file and `include_tasks` or `import_tasks`. You could even make it its own role and include that, I suppose. For either, you can use variables as you normally would in Ansible to supply the values you want.

If you are asking something els

[2022-06-28 12:18] misuto commented on #345
@31239899 The question is about making the workaround easily reusable. I tried to use put the workaround you suggested in a tasks file and include/import it with both `include_tasks` and `import_tasks`, but I was not able to get the variables passed correctly. If I understand ansible correctly the way the arguments are passed in the workaround to the podman role, is with role parameters. Is there

[2022-06-28 14:43] 31239899 commented on #345
@misuto, I understand now. You can format it like this, without `apply`.
[code]
Although if you repeat all of the vars for two includes, you might as well just put the original tasks inline since you're not avoiding duplication.

I'm fairly sure you can set `check_mode` using a variable, but you'll want to verify that. So what I would try is keeping the stuff that doesn't change (name, image, etc.

[2022-07-10 14:49] misuto commented on #345
@31239899 Sorry for the late reply. This is exactly what I wanted to do. I went with the second option and managed to disable
the `INJECT_FACTS_AS_VARS` config option after some adjustments. Thank you for the help and clarifications to make this work for me!

[2022-07-13 03:28] andrewbedia opened #449 "command parameter appears to not handle quotation marks properly"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
command parameter appears to not handle quotation marks properly (or I'm ignorant and new to ansible)

**Steps to reproduce the issue:**

1. Pass a command parameter that involves quotes
e.g. command: renew --deploy-hook "echo 1 > /var/lib/letsencrypt/complete"

**Describe the results you rece

[2022-07-13 22:08] sshnaidm commented on #449
Yeah, I think it's worth to have such example. Patches are welcome :)

[2022-07-15 08:05] arequipeno opened #454 "last release 1.9.4 isn't working on RHEL8 launching using AWX, 1.9.3 is working fine"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

ansible-2.9.23-1.el7.noarch
rh-python36-ansible-2.9.6-1.noarch
rh-python36-ansible-runner-1.4.4-1.noarch
rh-python36-ansible-tower-cli-3.3.9-1.noarch
ansible-awx-9.2.0.164-1.el7.x86_64
python3-podman-4.0.0-1.module+el8.6.0+14877+f643d2d6.noarch
podman-4.0.2-6.module+el8.6.0+14877+f643d2d6.x86_64
podman-catato

[2022-07-15 08:05] arequipeno commented on #454
Thnks in advance

[2022-07-17 07:38] sshnaidm commented on #454
probably it's because of https://github.com/containers/ansible-podman-collections/commit/2577f5b0f516dd0657a91a722bac4dc810803062
Which python version do you use on the controller (host that executes Ansible)?

[2022-07-20 14:35] richm opened #456 "podman 4.2 has renamed "play kube" to "kube play" with an alias for "play kube""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

In podman 4.2, the command `play kube` has been renamed to `kube play` with an alias for `play kube`.  The `containers.podman.podman_play` module should detect which version of podman is being used, and use either `play kube` or `kube play` depending on the version e.g. at https://github.

[2022-08-03 08:22] yellowhat opened #460 "Inventory plugin"
/kind feature

**Description**

Hi,
I have noticed that there is no `podman` plugin to dynamically create the Ansible inventory, while there is one for [docker](https://docs.ansible.com/ansible/latest/collections/community/docker/docker_containers_inventory.html).

Is there a way to use that plugin against `podman`?

Thanks

[2022-08-08 00:08] techquila commented on #384
I'm also experiencing this exact issue.

I run a playbook that calls a role I created to build and run a container that will become my new puppet server.

The original build failed and now multiple changes to the Docker file are not picked up, and it keeps calling the original Dockerfile I used and  attempts to use that build image... which doesn't exist as I deleted it long ago.

I've performed b

[2022-08-08 12:39] sshnaidm commented on #384
@techquila is you have a systemd unit that runs container, probably would be better to delete it to avoid confusion and start from scratch. Using `new: yes` should be fixed in latest patch: https://github.com/containers/ansible-podman-collections/commit/99c2851341999bfeb0b78458efa09f874c923a9e
Please try to delete systemd files and run again without `generate_systemd`. If it's ok, try to install t

[2022-08-14 23:33] ghost opened #462 "container.podman.podman_image: newline character appended to directory path causing => Error: context must be a directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Attempting to build container with a task that goes like this:
[code]
from a playbook that goes a little something like this:

[code]

**Steps to reproduce the issue:**

1. create role in roles directory `<project-dir>/roles/app` with the task as described above.

2. create playbook in the pl

[2022-08-15 15:31] sshnaidm commented on #462
@techquila which version of Ansible Podman collection do you use? Which version did you use when it works?

[2022-08-21 22:44] mcexit opened #463 "Allow stdin for kube play"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman_play module only allows file input.

**Describe the results you received:** podman_play only allows file input using `kube_file` which is required.

**Describe the results you expected:** podman_play module should allow for variable input, not just file. This allows the utilization